---
title: All Projects
id: all-projects
description: All Coding Projects and Experiments
layout: default.webc
---
<div class="cards small">
  {%- for project in collections.code | reverse  -%} 
  <div class="card">
    <h2 class="h3">{{ project.data.title }}</h2>
    <p>{{ project.data.date | fullString }}</p>
    <div class="tags">
      {%- for tag in project.data.tech -%}
        <p class="tag">{{ tag }}</p>
      {%- endfor -%}
    </div>
    {% if project.data.docs %}<a class="button" href="{{ project.data.docs }}" title="{{ project.data.title }} Documentation">Docs</a>{% endif %}
    {% if project.data.live %}<a class="button" href="{{ project.data.live }}" target="_blank" title="Visit live site">Live</a>{% endif %}
    {% if project.data.source %}<a class="button" href="{{ project.data.source }}" target="_blank" title="{{ project.data.title }} Source Code">Source</a>{% endif %}
  </div>
  {%- endfor -%}
</div>
