---
title: All Projects
id: all-projects
layout: default.webc
---
<div class="cards small">
  {%- for project in collections.code | sort('date') | reverse -%}
  <div class="card" aria-label="{{ project.data.title }}">
    <h2 class="h3">{{ project.data.title }}</h2>
    <p>{{ project.data.date | fullString }}</p>
    <div class="tags" aria-label="Tech Used">
      {%- for tag in project.data.tech -%}
        <p class="tag">{{ tag }}</p>
      {%- endfor -%}
    </div>
    {% if project.data.extraLink %}<a class="button" href="{{ project.data.extraLink }}">{{ project.data.extraLinkText }}</a>{% endif %}
    {% if project.data.live %}<a class="button" href="{{ project.data.live }}" target="_blank">Live</a>{% endif %}
    {% if project.data.source %}<a class="button" href="{{ project.data.source }}" target="_blank">Source</a>{% endif %}
  </div>
  {%- endfor -%}
</div>
