---
title: Lake Tahoe
numberofphotos: 7
datetaken: 2021-6-25
img: https://assets.zacharyc.site/images/collection-banner/3.jpg
url: lake-tahoe
---
            <div class="mItem"><a href="https://i.ibb.co/PCpLDPY/LT7.jpg"><img src="https://i.ibb.co/883CYfB/LT7.jpg" data-pin-description="Lake Tahoe 1 | Zachary C" alt="Lake Tahoe7"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/0Q2d0Gc/LT5.jpg"><img src="https://i.ibb.co/d7MzN5r/LT5.jpg" data-pin-description="Lake Tahoe 2 | Zachary C" alt="Lake Tahoe5"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/7zySy5R/LT6.jpg"><img src="https://i.ibb.co/KGy5ykL/LT6.jpg" data-pin-description="Lake Tahoe 3 | Zachary C" alt="Lake Tahoe6"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/xM5XNtn/LT4.jpg"><img src="https://i.ibb.co/rZyFVRB/LT4.jpg" data-pin-description="Lake Tahoe 4 | Zachary C" alt="Lake Tahoe4"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/t8cVqwz/LT3.jpg"><img src="https://i.ibb.co/wMC5SZ7/LT3.jpg" data-pin-description="Lake Tahoe 5 | Zachary C" alt="Lake Tahoe3"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/LRh4SS1/LT2.jpg"><img src="https://i.ibb.co/YQTv22h/LT2.jpg" data-pin-description="Lake Tahoe 6 | Zachary C" alt="Lake Tahoe2"></a></div>
            <div class="mItem"><a href="https://i.ibb.co/k1CpG3h/LT1.jpg"><img src="https://i.ibb.co/QdwZJ86/LT1.jpg" data-pin-description="Lake Tahoe 7 | Zachary C" alt="Lake Tahoe1"></a></div>