---
title: Hummingbirds
numberofphotos: 3
date: 2022-07-20
id: hummingbirds
---
<a class="photo" href="/photography/i?i=/images/collections/hummingbirds/1.JPG&collection=Hummingbirds">
  {% image "./src/images/collections/hummingbirds/1-Small.JPG", "Hummingbird sitting on a branch." %}
</a>
<a class="photo" href="/photography/i?i=/images/collections/hummingbirds/2.JPG&collection=Hummingbirds">
  {% image "./src/images/collections/hummingbirds/2-Small.JPG", "Hummingbird sitting on a feeder." %}
</a>
<a class="photo" href="/photography/i?i=/images/collections/hummingbirds/3.JPG&collection=Hummingbirds">
  {% image "./src/images/collections/hummingbirds/3-Small.JPG", "A hummingbird sitting on a feeder with its wings still in motion." %}
</a>