:root {
  /* Colors */
  --color-text: #fff;
  --color-bg: #000;
  --color-light: #bfbfbf;
  --color-dark: #404040;

  /* Typography */
  --font: "Inter", sans-serif;
  --font-display: "Meshed Display", "Georgia", serif;
  --font-italic: "Georgia", serif;
  --font-code: Menlo, Monaco, 'Courier New', monospace;
  --fw-regular: 300;
  --fw-semibold: 600;
  --fw-bold: 900;

  /* Text Size */
  --ts-display: 2.5rem;
  --ts-h1: 2.2rem;
  --ts-h2: 2rem;
  --ts-h3: 1.8rem;
  --ts-h4: 1.6rem;
  --ts-h5: 1.4rem;
  --ts-h6: 1.2rem;
  --ts-body: 1rem;

  /* More */
  --gutter: 3rem;
  --max-line: 70ch;
  --stroke-width: 1px;
  --border-radius: 0.25em;
  --border: var(--stroke-width) solid var(--color-text);

  accent-color: var(--color-text);
}

@supports (font-variation-settings: normal) {
  :root {
    --font: "Inter var", sans-serif;
    --font-display: "Meshed Display var", serif;
  }
}

body {
  font-family: var(--font);
  font-size: var(--ts-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
}

main {
  margin: 2rem var(--gutter);
  min-height: calc(100vh - 12rem);
  min-height: calc(100dvh - 12rem);
}

article {
  margin-inline: auto;
  max-width: var(--max-line);
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

*:focus-visible {
  outline-offset: 0.1em;
  outline: var(--border);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.15;
  margin: 0.25em 0;
}
.display {
  font-family: var(--font-display);
  font-size: var(--ts-display);
  font-weight: var(--fw-bold);
}
h1, .h1 {
  font-size: var(--ts-h1);
  font-weight: var(--fw-bold);
}
h2, .h2 {
  font-size: var(--ts-h2);
  font-weight: var(--fw-semibold);
}
h3, .h3 {
  font-size: var(--ts-h3);
  font-weight: 400;
}
h4, .h4 {
  font-size: var(--ts-h4);
  font-weight: var(--fw-regular);
}
h5, .h5 {
  font-size: var(--ts-h5);
  font-weight: var(--fw-regular);
}
h6, .h6 {
  font-size: var(--ts-h6);
  font-weight: var(--fw-regular);
}

a, .a {
  background-color: transparent;
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-thickness: var(--stroke-width);
  text-underline-offset: calc(var(--stroke-width) * 2);
}
a:hover, .a:hover, a:focus-visible, .a:focus-visible {
  color: var(--color-text);
  cursor: pointer;
  text-decoration-thickness: calc(var(--stroke-width) * 2);
}

b, strong {
  font-weight: bolder;
}

em, i {
  font-family: var(--font-italic);
}

small{
  font-size: 80%;
}

.center {
  text-align: center;
}
.button.center {
  display: block;
  max-width: max-content;
  margin: 1rem auto;
}

button, input, optgroup, select, textarea {
  font-family: var(--font);
  font-size: var(--ts-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

button, .button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  transition: all ease 150ms;
}
button:hover, .button:hover, 
button:focus-visible, .button:focus-visible {
  cursor: pointer;
  background-color: var(--color-text);
  color: var(--color-bg);
}

button:disabled, button[disabled], button.disabled, .button.disabled {
  color: var(--color-light);
}
button:disabled:hover, button[disabled]:hover, button.disabled:hover, .button.disabled:hover,
button:disabled:focus-visible, button[disabled]:focus-visible, button.disabled:focus-visible, .button.disabled:focus-visible {
  cursor: default;
  background-color: var(--color-bg);
  color: var(--color-light);
}

hr, .line {
  border: none;
  height: var(--stroke-width);
  background: linear-gradient(90deg, #0000, #fff, #0000);
  margin: 2rem 0;
}

pre,
code {
	color: #fff;
	font-size: var(--ts-body);
	font-family: var(--font-code);
	line-height: 1.5;
	tab-size: 4;
  border-radius: var(--border-radius);
}

pre {
  position: relative;
	padding: 2rem;
	margin: 1rem 0;
  overflow: auto;
	background: #1e1e1e;
}

pre > code {
	position: relative;
	z-index: 1;
}

:not(pre) > code {
	padding: 0.2em 0.3em;
	border-radius: var(--border-radius);
	color: var(--color-text);
	background: var(--color-dark);
}

kbd {
  padding: 0.2em var(--border-radius);
	color: var(--color-text);
	background: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius);
}

details summary:hover {
  cursor: pointer;
}

input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  color: var(--color-text);
}

textarea {
  resize: vertical;
}

form .input {
  display: flex;
  flex-direction: column;
}
form .input input:not([type="radio"], [type="checkbox"], [type="file"]), form .input textarea, form .input select {
  margin-block-start: 0.5rem;
  margin-inline-start: 0;
}

form button {
  margin-inline: auto;
}

figure img, img.figure {
  border: var(--border);
  border-radius: var(--border-radius);
}

.title {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 0.25rem;
}
.title h1 {
  margin-bottom: 0.025em;
}
.title .line {
  width: 100%;
  margin: 0;
}

/* Skip Nav Button */
.skip-nav {
  z-index: 2;
  background: var(--color-text);
  color: var(--color-bg);
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-300%);
  transition: transform 0.2s ease-in;
}
.skip-nav:focus {
  transform: translateY(0);
}

.page-section {
  margin-block: 2rem;
}

/* Main Header */
.main-header {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 1rem var(--gutter);
  align-items: center;
}
.header-logo svg {
  height: var(--ts-h4);
  width: auto;
}
.header-logo:hover svg path, .header-logo:focus-visible svg path {
  fill: var(--color-light);
}
.main-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1em;
}
.main-header .nav-link:last-of-type {
  padding-inline-end: 0;
}
.nav-link:hover, .nav-link:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: calc(var(--stroke-width) * 2);
  text-underline-offset: calc(var(--stroke-width) * 2);
}

@media screen and (width < 600px) {
  .main-header {
    grid-template-columns: 100%;
    text-align: center;
  }
  .main-header nav {
    justify-content: center;
  }
}

/* Side Nav */
#sidenav {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  visibility: hidden;
}
.sidenav-links {
  min-width: max-content;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transform: translateX(100%);
  pointer-events: all;
  transition: transform ease .2s, opacity ease .2s;
}
.sidenav-links hr {
  margin: 0.5rem 0;
}
.sidenavBG {
  width: 100%;
  background-color: var(--color-bg);
  opacity: 0;
  transition: opacity ease .2s;
}
#sidenav.open {
  visibility: visible;
}
#sidenav.open .sidenav-links {
  transform: translateX(0);
  box-shadow: 0 0 1rem var(--color-dark);
}
#sidenav.open .sidenavBG {
  opacity: 0.75;
  pointer-events: all;
}

.sidenav-top {
  display: flex;
  justify-content: flex-end;
}
.sidenav-top button, .sidenav-top a {
  margin: 0;
  padding: 0.25rem 0.5rem;
  border: none;
}
.sidenav-top button:hover {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.sidenav-top img {
  width: 2.5em;
  height: 2.5em;
}

/* Main Footer */
.main-footer {
  display: grid;
  grid-template-columns: auto max-content;
  margin: 1rem var(--gutter);
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  margin: 0;
  padding: 0.25em 0.5em;
}
.footer-links a:first-of-type {
  padding-inline-start: 0;
}

.footer-links a:hover path, .footer-links a:focus-visible path {
  fill: var(--color-light);
}

/* Copy code button */
pre button {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  line-height: 1;
  fill: var(--color-text);
}
pre:hover button {
  opacity: 1;
}
pre button:hover {
  fill: var(--color-bg)
}
pre button svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tags .tag {
  background-color: var(--color-text);
  color: var(--color-bg);
  margin: 0.5rem 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 100vmax;
}
.tags .tag::selection {
  background: var(--color-bg);
  color: var(--color-text);
}
.tags a.tag {
  text-decoration: none;
}
.tags a.tag:hover {
  background-color: var(--color-light);
}

/* Cards */
.cards.small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards.wide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}
a.card {
  display: block;
}
a.card, .card * {
  text-decoration: none;
}
a.card:hover, a.card:focus-visible {
  color: var(--color-text);
}
a.card:focus-visible .button {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.cards .card {
  text-align: center;
}
.cards .card img {
  width: calc(100% + 1rem);
  margin-block-start: -0.5rem;
  margin-inline-start: -0.5rem;
  height: auto;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.cards .card .tags {
  justify-content: center;
}

.video .video-preview {
  display: inline-block;
  position: relative;
}

.video .play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem !important;
  height: 4rem !important;
}

/* Sections */
.cards section, .cards .section {
  margin: 2rem 0;
}
.cards hr:last-of-type {
  display: none;
}

section.split, .section.split {
  display: grid;
  grid-template-columns: max-content auto;
}

section.split img, .section.split img {
  width: 100%;
  height: auto;
  max-width: 60vw;
  border-radius: var(--border-radius);
}

section .text, .section .text {
  margin-inline-start: 2rem;
}
section .text .button, section .text button,
.section .text .button, .section .text button,
section .text .tags .tag:first-of-type, .section .text .tags .tag:first-of-type {
  margin-inline-start: 0;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.gallery.two-wide {
  grid-template-columns: 1fr 1fr;
}
.photo {
  margin: 0.5rem;
  padding: 0;
}
.gallery .photo img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@media screen and (width < 1200px) {
  .cards.small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (width < 1000px) {
  .cards.wide {
    grid-template-columns: 100%;
  }
}

@media screen and (width < 900px) {
  :root {
    --gutter: 2rem;
  }
  .cards.small {
    grid-template-columns: 1fr 1fr;
  }
  .card.full {
    grid-template-columns: 100%;
  }
  .card.full img {
    margin: 0;
    max-width: 100%;
  }
  .card.full .text {
    margin-inline-start: 0;
    text-align: center;
  }
  .card.full .text .tags {
    justify-content: center;
  }
  .card.full .text .button, .card.full .text button {
    margin-inline-start: 0.5rem;
  }
  section.split, .section.split {
    grid-template-columns: 100%;
  }
  .section .text, section .text {
    text-align: center;
    margin-inline-start: 0;
  }
  .section .text .tags, section .text .tags {
    justify-content: center;
  }
  section.split img, .section.split img {
    max-width: 100%;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 600px) {
  :root {
    --gutter: 1rem;
  }
  .skip-nav {
    display: none;
  }
  .cards.small {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 100%;
  }
}
