:root {
  /* Colors */
  --color-text: #fff;
  --color-bg: #000;
  --color-light: #bfbfbf;
  --color-dark: #1e1e1e;

  /* Typography */
  --font: Inter, sans-serif;
  --font-display: "Meshed Display", Georgia, serif;
  --font-italic: Georgia, serif;
  --font-code: Menlo, Monaco, monospace;
  --fw-regular: 300;
  --fw-semibold: 600;
  --fw-bold: 900;

  /* Font Size */
  --fs-display: 3.2rem;
  --fs-h1: 2.4rem;
  --fs-h2: 2.2rem;
  --fs-h3: 2rem;
  --fs-h4: 1.8rem;
  --fs-h5: 1.6rem;
  --fs-h6: 1.4rem;
  --fs-body: 1rem;

  /* More */
  --line-height: 1.4em;
  --gutter: 3rem;
  --max-line: 70ch;
  --stroke-width: 1px;
  --border-radius: 0.25em;
  --border: var(--stroke-width) solid var(--color-text);
  --image-border-radius: 0;

  color-scheme: dark;
  accent-color: var(--color-text);
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  margin: 2rem var(--gutter);
  min-height: calc(100vh - 12rem);
  min-height: calc(100dvh - 12rem);
}

article {
  max-width: var(--max-line);
  margin-inline: auto;
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

picture, img {
  user-select: none !important;
}

*:focus-visible {
  outline-offset: 0.1em;
  outline: var(--border);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.15;
  margin: 0.25em 0;
}
.display {
  font-family: var(--font-display);
  font-size: var(--fs-display);
  font-weight: var(--fw-bold);
}
h1, .h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}
h2, .h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
}
h3, .h3 {
  font-size: var(--fs-h3);
  font-weight: 400;
}
h4, .h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-regular);
}
h5, .h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-regular);
}
h6, .h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-regular);
}

a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-thickness: var(--stroke-width);
  text-underline-offset: calc(var(--stroke-width) * 2);
}
a:hover, a:focus-visible {
  color: var(--color-text);
  cursor: pointer;
  text-decoration-thickness: calc(var(--stroke-width) * 2);
}

b {
  font-weight: bolder;
}

i {
  font-style: italic;
  font-family: var(--font-italic);
}

small {
  font-size: 80%;
}

.center {
  text-align: center;
}
.button.center {
  display: block;
  max-width: max-content;
  margin: 1rem auto;
}

button, input, optgroup, select, textarea {
  font-family: var(--font);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: var(--line-height);
}

button, .button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  transition: all ease 150ms;
}
button:hover, .button:hover, 
button:focus-visible, .button:focus-visible {
  cursor: pointer;
  background-color: var(--color-text);
  color: var(--color-bg);
}

/* TODO: Disabled buttons and inputs */

button.a {
  color: var(--color-text);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: var(--stroke-width);
  text-underline-offset: calc(var(--stroke-width) * 2);
  vertical-align: baseline;
}
button.a:hover, button.a:focus-visible {
  color: var(--color-text);
  cursor: pointer;
  text-decoration-thickness: calc(var(--stroke-width) * 2);
}

.icon-btn {
  margin: 0;
  padding: 0.25rem;
  line-height: 1;
  border: none;
}
.icon-btn svg {
  width: 2rem;
  height: 2rem;
}
.icon-btn svg path {
  fill: var(--color-text);
}
.icon-btn:hover svg path, .icon-btn:focus-visible svg path {
  fill: var(--color-bg);
}

hr, .line {
  border: none;
  height: var(--stroke-width);
  background: linear-gradient(90deg, var(--color-bg), var(--color-text), var(--color-bg));
  margin: 2rem 0;
}

/* Code (use static colors) */
pre,
code {
	color: #fff;
	font-size: var(--fs-body);
	font-family: var(--font-code);
	line-height: var(--line-height);
	tab-size: 4;
  border-radius: var(--border-radius);
}

pre {
  position: relative;
	padding: 2rem;
	margin: 1rem 0;
  overflow: auto;
	background: #1e1e1e;
}

pre > code {
	position: relative;
	z-index: 1;
}

:not(pre) > code {
	padding: 0.2em 0.3em;
	color: var(--color-text);
	background: var(--color-dark);
	border-radius: var(--border-radius);
}

kbd {
	padding: 0.2em 0.3em;
	color: var(--color-text);
	background: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius);
}

input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius);
}

textarea {
  resize: vertical; /* Safari mobile not supported: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/resize */
}

form button {
  margin-inline: auto;
}

details summary:hover {
  cursor: pointer;
}

.title {
  width: max-content;
  margin-inline: auto;
  padding-bottom: 0.25rem;
}
.title h1 {
  margin-bottom: 0.025em;
}
.title hr, .title .line {
  margin: 0;
}

/* Skip Nav Button */
.skip-nav {
  z-index: 2;
  background: var(--color-text);
  color: var(--color-bg);
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-300%);
  transition: transform 0.2s ease-in;
}
.skip-nav:focus {
  transform: translateY(0);
}

/* Main Header */
.main-header {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 1rem var(--gutter);
  align-items: center;
}
.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo svg {
  height: var(--fs-h4);
  width: auto;
}
.header-logo:hover svg path, .header-logo:focus-visible svg path {
  fill: var(--color-light);
}
.main-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-link, button.nav-link {
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1em;
}
.nav-link:hover, .nav-link:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: calc(var(--stroke-width) * 2);
  text-underline-offset: calc(var(--stroke-width) * 2);
}

@media screen and (width < 600px) {
  .main-header {
    grid-template-columns: 100%;
    text-align: center;
  }
  .main-header nav {
    justify-content: center;
  }
}

/* Side Nav */
#sidenav {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  visibility: hidden;
}
.sidenav-links {
  min-width: max-content;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transform: translateX(100%);
  pointer-events: all;
  transition: transform ease .2s, opacity ease .2s;
}
.sidenav-bg {
  width: 100%;
  background-color: var(--color-bg);
  opacity: 0;
  transition: opacity ease .2s;
}
#sidenav.open {
  visibility: visible;
}
#sidenav.open .sidenav-links {
  transform: translateX(0);
  box-shadow: 0 0 1rem var(--color-dark);
}
#sidenav.open .sidenav-bg {
  opacity: 0.75;
  pointer-events: all;
}

.sidenav-top {
  display: flex;
  justify-content: flex-end;
}
.sidenav-top button, .sidenav-top a {
  margin: 0;
  border: none;
}
.sidenav-top button:hover {
  background-color: var(--color-bg);
}
.sidenav-top .icon-btn:focus-visible svg path, .sidenav-top .icon-btn:hover svg path {
  fill: var(--color-text);
}
.sidenav-top svg {
  width: 2rem;
  height: 2rem;
}

/* Main Footer */
.main-footer {
  display: grid;
  grid-template-columns: auto max-content;
  margin: 1rem var(--gutter);
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  padding: 0.25em 0.5em;
}
.footer-links a:first-of-type {
  padding-inline-start: 0;
}

.footer-links a:hover path, .footer-links a:focus-visible path {
  fill: var(--color-light);
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tags .tag {
  background-color: var(--color-text);
  color: var(--color-bg);
  margin: 0.5rem 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 100vmax;
}
.tags .tag::selection {
  background: var(--color-bg);
  color: var(--color-text);
}
.tags a.tag {
  text-decoration: none;
}
.tags a.tag:hover {
  background-color: var(--color-light);
}

/* Cards */
.cards.small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards.wide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}
.cards .card {
  text-align: center;
}
.cards .card img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius) var(--border-radius) var(--image-border-radius) var(--image-border-radius);
  margin-bottom: .5rem;
}
.cards .card h2:first-child, .cards .card .h2:first-child, .cards .card h3:first-child, .cards .card .h3:first-child {
  margin-top: 1.5rem;
}
.cards .card button, .cards .card .button {
  margin-top: 1.25rem;
  margin-bottom: 1.75rem;
}
.cards .card .tags {
  justify-content: center;
}
a.card {
  display: block;
}
a.card, .card * {
  text-decoration: none;
}
a.card:hover, a.card:focus-visible {
  color: var(--color-text);
}
a.card:focus-visible .button {
  background-color: var(--color-text);
  color: var(--color-bg);
}

/* Sections */
.page-section {
  margin-block: 2rem;
}

.cards section, .cards .section {
  margin: 2rem 0;
}
.cards hr:last-of-type {
  display: none;
}

section.split, .section.split {
  display: grid;
  grid-template-columns: max-content auto;
}

section.split picture img, .section.split picture img {
  width: 100%;
  max-width: 60vw;
  max-width: 60dvw;
  height: auto;
  max-height: 80vh;
  border-radius: var(--image-border-radius);
}

section .text, .section .text {
  margin-inline-start: 2rem;
}
section .text .button, section .text button,
.section .text .button, .section .text button,
section .text .tags .tag:first-of-type, .section .text .tags .tag:first-of-type {
  margin-inline-start: 0;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}
.gallery.two-wide {
  grid-template-columns: 1fr 1fr;
}
.photo {
  margin: 0.5rem;
}
.gallery .photo img {
  width: 100%;
  height: auto;
  border-radius: var(--image-border-radius);
}

.section-gallery {
  display: grid;
  grid-template-columns: auto max-content;
}
@media screen and (width < 900px) {
  .section-gallery, .section.section-gallery, .section-gallery .gallery, .section.section-gallery .gallery {
    grid-template-columns: 100%;
  }
}

/* Code Copy */
pre button.icon-btn {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
pre:hover button.icon-btn {
  opacity: 1;
}
pre button.icon-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (width < 1200px) {
  .cards.small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (width < 1000px) {
  .cards.wide {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 900px) {
  :root {
    --gutter: 2rem;
  }
  .cards.small {
    grid-template-columns: 1fr 1fr;
  }
  .card.full {
    grid-template-columns: 100%;
  }
  .card.full img {
    margin: 0;
    max-width: 100%;
  }
  .card.full .text {
    margin-inline-start: 0;
    text-align: center;
  }
  .card.full .text .tags {
    justify-content: center;
  }
  .card.full .text .button, .card.full .text button {
    margin-inline-start: 0.5rem;
  }
  section.split:not(.nonresponsive), .section.split:not(.nonresponsive) {
    grid-template-columns: 100%;
  }
  .section:not(.nonresponsive) .text, section:not(.nonresponsive) .text {
    text-align: center;
    margin-inline-start: 0;
  }
  .section:not(.nonresponsive) .text .tags, section:not(.nonresponsive) .text .tags {
    justify-content: center;
  }
  section.split:not(.nonresponsive) img, .section.split:not(.nonresponsive) img {
    max-width: 100%;
    max-height: 100vh;
  }
}

@media screen and (width < 600px) {
  :root {
    --gutter: 1rem;
  }
  .cards.small {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 100%;
  }
}
