:root {
  /* Colors */
  --color-text: #fff;
  --color-bg: #000;
  --color-light: #bfbfbf;
  --color-dark: #404040;
  --color-hov: var(--color-light);

  /* Typography */
  --font: "Inter", sans-serif;
  --font-italic: "Georgia", serif;
  --font-code: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  --fw-regular: 300;
  --fw-semibold: 600;
  --fw-bold: 900;

  /* Type Scale */
  --double-canon: 4.666em;
  --canon: 3.999em;
  --double-great-primer: 2.999em;
  --double-english: 2.333em;
  --double-pica: 2em;
  --paragon: 1.666em;
  --english: 1.166em;
  --pica: 1em;
  --small-pica: 0.916em;
  --long-primer: 0.833em;
  --bourgeois: 0.75em;

  /* More */
  --gutter: 3rem;
  --max-line: 70ch;
  --stroke-width: 1px;
  --border-radius: 0.25em;
  --border: var(--stroke-width) solid var(--color-text);

  accent-color: var(--color-text);
}

body {
  font-family: var(--font);
  font-size: var(--pica);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
}

main {
  margin: 0 var(--gutter);
}

article {
  margin: 0 auto;
  max-width: var(--max-line);
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

*:focus-visible {
  outline-offset: 0.1em;
  outline: var(--border);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
  line-height: 1;
  margin: 0.25em 0;
}
h1, .h1 {
  font-size: var(--canon);
  font-weight: var(--fw-bold);
}
h2, .h2 {
  font-size: var(--double-great-primer);
  font-weight: var(--fw-semibold);
}
h3, .h3 {
  font-size: var(--double-english);
  font-weight: var(--fw-regular);
}
h4, .h4 {
  font-family: var(--font);
  font-size: var(--double-pica);
  font-weight: var(--fw-regular);
}
h5, .h5 {
  font-size: var(--paragon);
  font-weight: var(--fw-regular);
}
h6, .h6 {
  font-size: var(--english);
  font-weight: var(--fw-regular);
}

a, .a {
  background-color: transparent;
  color: var(--color-text);
}
a:hover, .a:hover, a:focus-visible, .a:focus-visible {
  color: var(--color-hov);
  cursor: pointer;
}

b, strong {
  font-weight: bolder;
}

em, i {
  font-family: var(--font-italic);
}

small{
  font-size: 80%;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
}

button, input, optgroup, select, textarea {
  font-family: var(--font);
  font-size: var(--pica);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

button, .button {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  transition: 150ms;
}
button:hover, .button:hover, 
button:focus-visible, .button:focus-visible {
  cursor: pointer;
  background-color: var(--color-text);
  color: var(--color-bg);
}

input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  color: var(--color-text);
}

figure img {
  border-radius: var(--border-radius);
}
figure figcaption {
  text-align: center;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
  margin: 2rem 0;
}

pre,
code {
	color: #fff;
	font-size: 0.916rem;
	font-family: var(--font-code);
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
  border-radius: var(--border-radius);
}

pre {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	background: #1e1e1e;
}

:not(pre) > code {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	color: #fff;
	background: #1e1e1e;
}

pre > code {
	position: relative;
	z-index: 1;
}

kbd {
  padding: 0.1em 0.3em;
	color: var(--color-text);
	background: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius);
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

@media screen and (width < 900px) {
  :root {
    --gutter: 2rem;
  }
  h1, .h1 {
    font-size: var(--double-great-primer);
  }
  h2, .h2 {
    font-size: var(--double-english);
  }
  h3, .h3 {
    font-size: var(--double-pica);
  }
  h4, .h4 {
    font-size: var(--paragon);
  }
  h5, .h5 {
    font-size: var(--english);
  }
  h6, .h6 {
    font-size: var(--pica);
  }
  p, .p {
    font-size: var(--small-pica);
  }
}

@media screen and (width < 600px) {
  :root {
    --gutter: 1rem;
  }
  h1, .h1 {
    font-size: var(--double-english);
  }
  h2, .h2 {
    font-size: var(--double-pica);
  }
  h3, .h3 {
    font-size: var(--paragon);
  }
  h4, .h4 {
    font-size: var(--english);
  }
  h5, .h5 {
    font-size: var(--pica);
  }
  h6, .h6 {
    font-size: var(--small-pica);
  }
  p, .p {
    font-size: var(--long-primer);
  }
}
