/* Webfont: MeshedDisplay-Black */
@font-face {
  font-family: 'Meshed Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Meshed Display/MeshedDisplay-Black.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Meshed Display/MeshedDisplay-Black.woff2') format('woff2'), /* Modern Browsers */
       url('/fonts/Meshed Display/MeshedDisplay-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}
