---
layout: 'base.njk'
---
{% include 'consent.njk' %}
{% include 'header.njk' %}
<main role="main" id="content">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
{% include 'footer.njk' %}
<script defer src="/main.js"></script>