<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Zachary Crespin</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/favicon.ico" id="favicon">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <meta name="image" content="/images/share-images/{{ id }}.png">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/firebase.js" defer></script>
    <!-- Clarity -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "az7sbiynxy");
    </script>
    <!-- Pinterest Tag -->
    <script>
      !function(e){if(!window.pintrk){window.pintrk = function () {
      window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
        n=window.pintrk;n.queue=[],n.version="3.0";var
        t=document.createElement("script");t.async=!0,t.src=e;var
        r=document.getElementsByTagName("script")[0];
        r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
      pintrk('load', '2612840119152');
      pintrk('page');
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?event=init&tid=2612840119152&noscript=1" />
    </noscript>
    <!-- end Pinterest Tag -->
    <link rel="manifest" href="/manifest.json">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2e2e2e">
    <meta name="author" content="Zachary Crespin">
    <meta name="generator" content="Eleventy">
    <meta name="version" content="{% version %}">
    <!-- Open Graph -->
    <meta property="og:url" content="https://zacharyc.site{{ page.url }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ title }} | Zachary Crespin">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://zacharyc.site/images/share-images/{{ id }}.png">
		<meta property="og:image:alt" content="{{ title }}">
    <meta property="og:site_name" content="zacharyc.site">
    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }} | Zachary Crespin">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://zacharyc.site/images/share-images/{{ id }}.png">
    <meta name="twitter:image:alt" content="{{ title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ZacharyCrespin">
    <meta name="twitter:creator" content="@ZacharyCrespin">
  </head>
  <body>
{% include 'header.njk'  %}
    <main role="main" id="content">
  {{ content | safe }}
    </main>
{% include 'footer.njk' %}
  </body>
</html>