<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{{ title }} | Zachary Crespin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta -->
    <meta property="og:title" content="{{ title }}  | Zachary Crespin">
    <meta name="description" content="{{ description }} | Zachary Crespin">
    <meta property="og:description" content="{{ description }} | Zachary Crespin">
    <meta name="image" content="/images/share-images/{{ id }}.png">
    <meta property="og:image" content="/images/share-images/{{ id }}.png">
    <meta property="og:site_name" content="Zachary Crespin">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- JS -->
    <script src="/js/main.js"></script>
    <!-- Icons -->
    <link rel="icon" href="/images/favicon-black.png" id="favicon">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <!-- PWA -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#4A4A4A">
{% include 'analytics.njk' %}
    <!-- Twitter -->
    <meta property="twitter:site" content="@ZacharyCrespin">
    <meta property="twitter:creator" content="@ZacharyCrespin">
</head>
<body>
{% include 'header.njk'  %}
    <main id="content">
{{ content | safe }}
    </main>
{% include 'footer.njk' %}
</body>
</html>