<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{{ title }} | Code | Zachary Crespin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta -->
    <meta property="og:title" content="{{ title }} | Code | Zachary Crespin">
    <meta name="description" content="{{ title }} | Code | Zachary Crespin">
    <meta property="og:description" content="{{ title }} | Code | Zachary Crespin">
    <!-- Icons -->
    <link rel="icon" href="/images/favicon-black.png" id="favicon">
    <meta name="theme-color" content="#4A4A4A">
{% include 'analytics.njk' %}
    <script>
        window.location.replace("{{ link }}");
    </script>
</head>
<body>
    <p>redirecting to <a href="{{ link }}">{{ link }}</a></p>
</body>
</html>