<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Collections | Photography | Zachary Crespin</title>
    <meta name="description" content="{{ title }} Photo Collection">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <meta name="image" content="/images/share-images/{{ id }}.png">
    <link rel="manifest" href="/app.webmanifest">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#2e2e2e">
    <meta name="author" content="Zachary Crespin">
    <meta name="generator" content="Eleventy">
    <meta name="version" content="{% version %}">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/main.js"></script>
    <!-- Gallery Setup -->
    <link rel="stylesheet" href="/css/gallery.css">
    <script defer src="/js/gallery.js"></script>
    <script>
      window.addEventListener('load', function() {
        baguetteBox.run('.gallery');
      });
    </script>
    <script src="/js/firebase.js" defer></script>
{% include 'analytics.njk' %}
    <!-- Open Graph -->
    <meta property="og:url" content="https://zacharyc.site{ page.url }">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ title }} Photo Collection | Zachary Crespin">
    <meta property="og:description" content="{{ title }} Photo Collection">
    <meta property="og:image" content="https://zacharyc.site/images/share-images/{{ id }}.png">
    <meta property="og:image:alt" content="{{ title }} Photo Collection">
    <meta property="og:site_name" content="zacharyc.site">
    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }} Photo Collection | Zachary Crespin">
    <meta name="twitter:description" content="{{ title }} Photo Collection">
    <meta name="twitter:image" content="https://zacharyc.site/images/share-images/{{ id }}.png">
    <meta name="twitter:image:alt" content="{{ title }} Photo Collection">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ZacharyCrespin">
    <meta property="twitter:creator" content="@ZacharyCrespin">
  </head>
  <body>
{% include 'header.njk'  %}
    <main role="main" id="content">
      <h1>{{ title }}</h1>
      <div class="gallery">
{{ content | safe }}
      </div>
    </main>
{% include 'footer.njk' %}
  </body>
</html>