<div id="consent" role="dialog" style="display: none;">
  <p>This site asks you to enable tracking.</p>
  <a href="https://docs.ackee.electerious.com/#/docs/Anonymization" target="_blank">More Information</a><br>
  <button class="button" onclick="acceptTracking()">Accept</button>
  <button class="button" onclick="rejectTracking()">Reject</button>
</div>
<script defer src="/consent.js"></script>