<div id="consent" style="display: none;">
  <p>This site asks you to enable detailed tracking.</p>
  <p>Your data will help to enhance your user experience.</p>
  <a href="https://docs.ackee.electerious.com/#/docs/Anonymization">More Information</a><br>
  <button onclick="acceptCookies()">Accept</button>
  <button onclick="rejectCookies()">Reject</button>
</div>