<footer>
  <ul class="social-list">
    <li>
      <a href="https://github.com/ZacharyCrespin">GitHub</a> | 
    </li>
    <li>
      <a href="https://unsplash.com/@zacharycrespin">Unsplash</a> | 
    </li>
    <li>
      <a href="https://pixabay.com/users/zacharycrespin">Pixabay</a>
    </li>
  </ul>
</footer>