<footer>
  <ul class="social-list">
    <li>
      <a href="https://github.com/ZacharyCrespin" target="_blank">GitHub</a> | 
    </li>
    <li>
      <a href="https://unsplash.com/@zacharycrespin" target="_blank">Unsplash</a> | 
    </li>
    <li>
      <a href="https://pixabay.com/users/zacharycrespin" target="_blank">Pixabay</a> | 
    </li>
    <li>
      <a href="https://www.pinterest.com/ZacharyCrespin/_created" target="_blank">Pinterest</a>
    </li>
  </ul>
</footer>