<div id="cookie-consent" style="display: none;">
  <p>This website uses third party cookies.</p>
  <button onclick="acceptCookies()">Accept</button>
  <button onclick="declineCookies()">Decline</button>
</div>
<a href="#content" class="skip-nav">Skip Nav</a>
<header>
  <nav class="menu" id="menu" role="navigation">
    <a href="/">Home</a>
    <a href="/photography">Photography</a>
    <a href="/code">Code</a>
  </nav>
</header>