<a href="#content" class="skip-nav">Skip Nav</a>
<header>
  <nav class="menu" id="menu" role="navigation">
    <a href="/">Home</a>
    <a href="/photography">Photography</a>
    <a href="/code">Code</a>
  </nav>
</header>