---
pagination:
  data: photos
  size: 1
  alias: image
permalink: "/photography/{{ image.collection }}/{{ image.id }}/index.html"
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if image.title %}
      <title>{{ image.title }} by Zachary Crespin</title>
    {% else %}
      <title>Photo by Zachary Crespin</title>
    {% endif %}
    {% if image.title %}
      <meta name="description" content="{{ image.title }} by Zachary Crespin">
    {% else %}
      <meta name="description" content="Photo by Zachary Crespin">
    {% endif %}
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <meta name="image" content="/images/share/photography.png" id="shareImage">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#2e2e2e">
    <meta name="author" content="Zachary Crespin">
    <meta name="generator" content="Eleventy">
    <link rel="stylesheet" href="/main.css">
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    {% if image.title %}
      <meta name="og:title" content="{{ image.title }} by Zachary Crespin">
    {% else %}
      <meta name="og:title" content="Photo by Zachary Crespin">
    {% endif %}
    <meta property="og:image" content="https://zacharyc.site/images/photography/{{ image.src }}">
    <meta property="og:image:alt" content="{{ image.alt }}">
    <meta property="og:site_name" content="zacharyc.site">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    {% if image.title %}
      <meta name="twitter:title" content="{{ image.title }} by Zachary Crespin">
    {% else %}
      <meta name="twitter:title" content="Photo by Zachary Crespin">
    {% endif %}
    <meta name="twitter:image" content="https://zacharyc.site/images/photography/{{ image.src }}">
    <meta name="twitter:image:alt" content="{{ image.alt }}">
    <meta name="twitter:site" content="@ZacharyCrespin">
    <meta name="twitter:creator" content="@ZacharyCrespin">
    <style>
      body {
        margin: 0;
      }
      main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #close {
        position: fixed;
        top: 1rem;
        right: 1rem;
      }
      img {
        width: auto;
        height: auto;
        max-width: calc(100vw - 1rem);
        max-height: calc(100vh - 1rem);
      }
    </style>
  </head>
  <body>
{% include 'consent.njk' %}
    <main role="main" id="content">
      <button id="close" onclick="history.back()">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.07812 27.4531L7.54688 25.9219L15.9687 17.5L7.54688 9.07812L9.07812 7.54688L17.5 15.9687L25.9219 7.54688L27.4531 9.07812L19.0313 17.5L27.4531 25.9219L25.9219 27.4531L17.5 19.0313L9.07812 27.4531Z" fill="white"/>
        </svg>
      </button>
      {% image "./src/images/photography/" + image.src, image.alt %}
    </main>
    <script defer src="/main.js"></script>
    <script async src="https://analytics.zacharyc.site/tracker.js" data-ackee-server="https://analytics.zacharyc.site" data-ackee-domain-id="133c9354-5976-48e5-803f-809c8aeeda11"></script>
  </body>
</html>