<script src="/analytics.js"></script>
<script>
  const analytics = ackeeTracker.create('https://analytics.zacharyc.site', {detailed: true})
  analytics.record('133c9354-5976-48e5-803f-809c8aeeda11')
</script>