<footer class="main-footer">
  <p aria-label="Created By Zachary Crespin on GitHub.">Created By <a href="https://zacharyc.site" target="_blank">Zachary Crespin</a> on <a href="https://github.com/ZacharyCrespin/zacharyc.site" target="_blank">GitHub</a>.</p>
</footer>