<a href="#content" class="button skip-nav">Skip Nav</a>
<header class="main-header">
  <a href="/" class="header-logo">
    {% image "./src/images/home-logo.svg", "ZC logo", "auto" %}
  </a>
  <nav role="navigation" aria-label="Main Navigation">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/photography/">Photography</a>
    <a class="nav-link" href="/code/">Code</a>
  </nav>
</header>