<a href="#content" class="skip-nav">Skip Nav</a>
<header>
  <a href="/" class="logo">
    {% image "./src/images/home-logo.svg", "ZC logo", "auto" %}
  </a>
  <nav role="navigation" aria-label="Main Navigation">
    <a href="/">Home</a>
    <a href="/photography/">Photography</a>
    <a href="/code/">Code</a>
  </nav>
</header>