<script type="module">
  import {onTTFB, onFCP, onLCP, onCLS} from '/web-vitals.js'
  function sendToAnalytics(metric) {
    const value = metric.value
    const key = metric.name
    analytics.action('d490b736-11e3-48b7-b185-68abd8c6956b', { key, value })
  }
  onTTFB(sendToAnalytics, "TTFB")
  onFCP(sendToAnalytics, "FCP")
  onLCP(sendToAnalytics, "LCP")
  onCLS(sendToAnalytics, "CLS")
</script>