---
layout: base
nocss: true
title: Math To SVG
description: Convert AsciiMath strings into beautiful SVGs
---
<style>
{% include "./style.css" %}
</style>
<main>
  <h1>Math To SVG</h1>
  <p>Convert <a href="http://asciimath.org/#syntax">AsciiMath</a> strings into beautiful SVGs</p>
  <div class="mainInput">
    <textarea id="input" placeholder="E = mc^2" rows="2" spellcheck="false"></textarea>
    <button id="button">Convert</button>
  </div>
  <div id="output" hidden></div>
  <button id="download" hidden>Download</button>
  <p>Created By <a href="https://zacharyc.site" target="_blank">Zachary Crespin</a> on <a href="https://github.com/ZacharyCrespin/math-to-svg" target="_blank">GitHub</a>.</p>
</main>
<script>
{% include "./script.js" %}
</script>