@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  background: linear-gradient(-90deg, white, black);
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 20px;
}

.cursor {
  font-family: 'Fredericka the Great', sans-serif;
  margin: 10px;
  padding-top: 25px;
  border-radius: 10px;
  background: linear-gradient(180deg, white, black);
  text-align: center;
  font-size: 30px;
}

.cursor:nth-of-type(1) {
  cursor: default;
}
.cursor:nth-of-type(2) {
  cursor: crosshair;
}
.cursor:nth-of-type(3) {
  cursor: help;
}
.cursor:nth-of-type(4) {
  cursor: move;
}
.cursor:nth-of-type(5) {
  cursor: pointer;
}
.cursor:nth-of-type(6) {
  cursor: progress;
}
.cursor:nth-of-type(7) {
  cursor: text;
}
.cursor:nth-of-type(8) {
  cursor: wait;
}     
.cursor:nth-of-type(9) {
  cursor: none;
}
.cursor:nth-of-type(10) {
  cursor: not-allowed;
}
.cursor:nth-of-type(11) {
  cursor: grab;
}
.cursor:nth-of-type(12) {
  cursor: grabbing;
}
