---
layout: base
nocss: true
title: Quotes
description: A random quote every time.
---
<style>
  {% include "./style.css" %}
</style>
<div id="quote">
  <h1 id="quoteQuote"></h1>
  <p id="quoteAuthor"></p>
</div>
<script>
  {% include "./script.js" %}
</script>