:root {
  --background: #fff;
  --color: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --color: #fff;
  }
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  margin: 0 1rem;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  max-width: 75%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0.25em 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.25em 0;
  text-align: right;
}

@media screen and (width < 900px) {
  h1 {
    font-size: 2.5rem;
  }
  #quote {
    max-width: 80%;
  }
}

@media screen and (width < 600px) {
  h1 {
    font-size: 2rem;
  }
  #quote {
    max-width: 100%;
  }
}