---
homeFeaturedOrder: 3
---
<div class="section section-gallery" aria-label="Hummingbirds, Select Photos">
  <div class="gallery">
  {% for photo in collections.photo %}
    {% if photo.data.id == "hummingbirds/1" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      {% image photo.data.src, photo.data.alt, 600, true %}
    </a>
    {% elseif photo.data.id == "hummingbirds/5" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      {% image photo.data.src, photo.data.alt, 600, true %}
    </a>
    {% elseif photo.data.id == "hummingbirds/2" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      {% image photo.data.src, photo.data.alt, 600, true %}
    </a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="text">
    <h3>Hummingbirds</h3>
    <div class="tags" aria-label="Tags">
      <p class="tag">Photo Collection</p>
    </div>
    <a class="button" href="/photography/hummingbirds/">View More</a>
  </div>
</div>
