---
homeFeaturedOrder: 5
---
<div class="section section-gallery" aria-label="Newport Beach, Select Photos">
  <div class="gallery">
  {% for photo in collections.photo | sort("order") %}
    {% if photo.data.id == "newport/1" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      <img src="/images/{{ photo.data.src }}" alt="{{ photo.data.alt }}">
    </a>
    {% elseif photo.data.id == "newport/2" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      <img src="/images/{{ photo.data.src }}" alt="{{ photo.data.alt }}">
    </a>
    {% elseif photo.data.id == "newport/4" %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      <img src="/images/{{ photo.data.src }}" alt="{{ photo.data.alt }}">
    </a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="text">
    <h2 class="h3">Newport Beach</h2>
    <div class="tags" aria-label="Tags">
      <p class="tag">Photo Collection</p>
    </div>
    <a class="button" href="/photography/newport/">View More</a>
  </div>
</div>
