<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if SEOtitle %}
      <title>{{ SEOtitle }}{% if not titleOverride %} — Zachary Crespin{% endif %}</title>
    {% else %}
      <title>{{ title }}{% if not titleOverride %} — Zachary Crespin{% endif %}</title>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ title }}">
    {% endif %}
    <link rel="icon" href="/favicon.png">
    <link rel="icon" href="/favicon-light.png" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    {% if shareImage %}
      <meta name="image" content="/images/{{ shareImage }}">
    {% else %}
      <meta name="image" content="/images/share/{{ id }}.jpg">
    {% endif %}
    <meta name="color-scheme" content="dark">
    <meta name="author" content="Zachary Crespin">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="canonical" href="https://zacharyc.site{{ page.url }}">
    {% if onlyBaseCSS %}
      <link rel="stylesheet" href="/base.css">
    {% else %}
      <link rel="stylesheet" href="/main.css">
    {% endif %}
    {% if highlightCode %}
      <link rel="stylesheet" href="/prism.css">
    {% endif %}
    <!-- Open Graph -->
    <meta property="og:url" content="https://zacharyc.site{{ page.url }}">
    {% if article %}
      <meta property="og:type" content="article">
    {% else %}
      <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:locale" content="en_US">
    {% if SEOtitle %}
      <meta property="og:title" content="{{ SEOtitle }}{% if not titleOverride %} — Zachary Crespin{% endif %}">
    {% else %}
      <meta property="og:title" content="{{ title }}{% if not titleOverride %} — Zachary Crespin{% endif %}">
    {% endif %}
    {% if description %}
      <meta property="og:description" content="{{ description }}">
    {% else %}
      <meta property="og:description" content="{{ title }}">
    {% endif %}
    {% if shareImage %}
      <meta property="og:image" content="https://zacharyc.site/images/{{ shareImage }}">
    {% else %}
      <meta property="og:image" content="https://zacharyc.site/images/share/{{ id }}.jpg">
    {% endif %}
    <meta property="og:site_name" content="Zachary Crespin">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    {% if SEOtitle %}
      <meta name="twitter:title" content="{{ SEOtitle }}{% if not titleOverride %} — Zachary Crespin{% endif %}">
    {% else %}
      <meta name="twitter:title" content="{{ title }}{% if not titleOverride %} — Zachary Crespin{% endif %}">
    {% endif %}
    {% if shareImage %}
      <meta property="twitter:image" content="https://zacharyc.site/images/{{ shareImage }}">
    {% else %}
      <meta property="twitter:image" content="https://zacharyc.site/images/share/{{ id }}.jpg">
    {% endif %}
    <meta name="twitter:site" content="@ZacharyCrespin">
    <meta name="twitter:creator" content="@ZacharyCrespin">
    {{ extraHeadCode | safe }}
  </head>
  <body>
    {{ content | safe }}
    {{ extraBodyCode | safe }}
    {% include 'components/analytics.njk' %}
  </body>
</html>