---
layout: base
---
{% include 'components/header.njk' %}
<article role="main" id="content">
  <div class="title-div">
    <h1>{{ title }}</h1>
    <p>{{ author }} &bull; {{ date | fullString }}</p>
  </div>
  <hr>
  {{ content | safe }}
</article>
{% include 'components/footer.njk' %}