---
layout: base
---
{% include 'components/header.njk' %}
<main role="main" id="content">
  <article>
    <div class="title-div">
      <h1>{{ title }}</h1>
      <p>{{ author }} &bull; {{ date | fullString }}</p>
    </div>
    <hr>
    {{ content | safe }}
  </article>
</main>
{% include 'components/footer.njk' %}