---
layout: 'layouts/base.njk'
---
{% include 'components/header.njk'  %}
<main role="main" id="content">
  <h1>{{ title }}</h1>
  <section class="gallery">
    {{ content | safe }}
  </section>
</main>
{% include 'components/footer.njk' %}