---
layout: default
---
<section class="gallery" aria-label="Gallery">
  {% for photo in collections.photo %}
    {% if photo.data.collection == id %}
    <a class="photo" href="/photography/{{ photo.data.id }}/">
      {% image "./src/images/" + photo.data.src, photo.data.alt, 600, true %}
    </a>
    {% endif %}
  {% endfor %}
</section>