---
layout: base
---
{% include 'components/header.njk' %}
<main role="main" id="content">
  <h1 class="title">{{ title }}</h1>
  {% if article %}<article>{% endif %}
  {{ content | safe }}
  {% if article %}</article>{% endif %}
</main>
{% include 'components/footer.njk' %}