---
title: All Films
id: all-films
layout: default.webc
---
<div class="cards wide">
  {%- for film in collections.film | reverse -%}
  <div class="card video" id="{{ film.data.id }}" aria-label="{{ film.data.title }}">
    <a href="{% if film.data.watchlink %}{{ film.data.watchlink }}{% else %}/film/{{film.data.id}}{% endif %}" class="video-preview" aria-label="Watch Now">
      <img src="/images/icons/play_circle.svg" class="play-circle" alt="play icon">
      {% image film.data.img, film.data.imgalt %}
    </a>
    <div class="text">
      <h2 class="h3">{{ film.data.title }}</h2>
      <p>{{ film.data.date | fullString }}</p>
      {% if film.data.description %}
      <p>{{ film.data.description }}</p>
      {% endif %}
      {% if film.data.watchlink %}
        <a href="{{ film.data.watchlink }}" class="button">Watch Now</a>
      {% else %}
        <a href="/film/{{film.data.id}}" class="button">Watch Now</a>
      {% endif %}
      {% if film.data.infolink %}
      <a href="{{ film.data.infolink }}" class="button">More Info</a>
      {% endif %}
    </div>
  </div>
  {%- endfor -%}
</div>
