@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter Thin"),
       url("https://zacharyc.site/fonts/Inter/Inter-Thin.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter Extra Light"),
       url("https://zacharyc.site/fonts/Inter/Inter-ExtraLight.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter Light"),
       url("https://zacharyc.site/fonts/Inter/Inter-Light.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
       url("https://zacharyc.site/fonts/Inter/Inter-Regular.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"),
       url("https://zacharyc.site/fonts/Inter/Inter-Medium.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter Semi Bold"),
       url("https://zacharyc.site/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter Bold"),
       url("https://zacharyc.site/fonts/Inter/Inter-Bold.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: local("Inter Extra Bold"),
       url("https://zacharyc.site/fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter Black"),
       url("https://zacharyc.site/fonts/Inter/Inter-Black.woff2") format("woff2"),
       url("https://zacharyc.site/fonts/Inter/Inter-Black.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: Inter, sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: "Inter var", sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("https://zacharyc.site/fonts/Inter/Inter.var.woff2") format("woff2");
}
