@font-face { 
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
  font-display: swap;
} 
@font-face { 
  font-family: Oswald;
  src: url('../fonts/Oswald-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

:root{
  --white: #FFFFFF;
  --lightgrey: #afafaf;
  --grey: #4A4A4A;
  --darkgrey: #2E2E2E;
  --black: #000000;
  --corner: 0;
}

html{
  scroll-behavior: smooth;
}

::selection {
  background: var(--white);
  color: var(--black);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}
::-webkit-scrollbar-corner {
  background-color: var(--black);
}

/* Loader */
#loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(../images/loader.gif) center no-repeat black;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: var(--black);
  padding: 0;
  margin: 0 3rem;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 250%;
  color: var(--white);
  letter-spacing: 1.5px;
  margin: 1rem;
}
h2, h3, h4, h5, h6 {
  color: var(--white);
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
}
p, label, span {
  color: var(--white);
}
.bold {
  font-weight: bold;
}
a {
  color: var(--white);
}
a:hover {
  color: var(--lightgrey);
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1rem .5rem;
  padding: .5rem 1.5rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: .2s;
  z-index: 1;
  color: var(--white);
}
.button::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--white);
  transition: .4s ease;
  display: block;
  z-index: -1;
}
.button:hover::before {
  width: 200%;
}
.button:hover {
  color: var(--black);
} 

button {
  background-color: var(--black);
  border: none;
  color: var(--white);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Menu */
nav {
  display: inline-block;
}
nav a {
	text-decoration: none;
}
nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
nav li {
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  background-color: var(--black);
}
nav ul li ul {
	background-color: var(--black);
	position: absolute;
	margin-top: 1rem;
	left: 0;
	display: none;
}
nav ul li:hover>ul,
nav ul li:focus-within>ul,
nav ul li ul:hover,
nav ul li ul:focus {
	display: block;
}

.icon {
	display: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
	margin: 0;
	padding: .5rem;
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
    padding: 0 0;
    text-align: left;
	}
	.icon {
		display: block;
	}
	nav li {
		width: calc(100% - 2rem);
	}
	nav ul li ul {
		width: calc(100% - 3rem);
		position: relative;
	}
}

.skip-nav{
  z-index: 2;
  background: var(--white);
  border-radius: var(--corner);
  color: var(--black);
  padding: .5rem;
  position: absolute;
  float: left;
  left: 0;
  margin: .5rem;
  transform: translateY(-400%);
  transition: transform 200ms ease-in;
}
.skip-nav:focus{
  transform: translateY(0);
}
@media screen and (max-width: 600px) {
  .skip-nav {
    display: none;
  }
}

/* cards */
.collections{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  .collections{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .collections{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .collections{
    grid-template-columns: 100%;
  }
}

.card{
  margin: .5rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  transition: .2s ease;
}
.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
.card img {
  width: 100%;
  border-radius: var(--corner) var(--corner) 0 0;
}
.card h2{
  margin-bottom: 0;
  padding-bottom: 0;
}
.card p{
  margin: 5px;
  padding: 0;
}

.split-card {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1rem .5rem;
  padding: 1rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  transition: .2s ease;
}
.split-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
.split-card img {
  max-width: 100%;
  max-height: 80vh;
}
.split-card .text {
  margin-left: 2rem;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .split-card {
    grid-template-columns: 100%;
  }
  .split-card .text {
    margin-left: 0;
    text-align: center;
  }
}

/* footer */
footer {
  padding: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--white);
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--white);
}
footer a {
  padding: .5rem;
  text-decoration: none;
}
.buildinfo {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-size: small;
}