@font-face {
  font-family: Finlandica;
  src: url("/fonts/finlandica.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/roboto.ttf") format("truetype");
}

:root {
  --white: #fff;
  --lightgrey: #afafaf;
  --grey: #4a4a4a;
  --darkgrey: #2e2e2e;
  --black: #000;
  --corner: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  margin: 0 3rem;
  min-height: 100vh;
}

::selection {
  background: var(--white);
  color: var(--black);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}
::-webkit-scrollbar-corner {
  background-color: var(--black);
}

.skip-nav {
  z-index: 2;
  background: var(--white);
  color: var(--black);
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  float: left;
  left: 0;
  transform: translateY(-400%);
  transition: transform 200ms ease-in;
}
.skip-nav:focus {
  transform: translateY(0);
  color: var(--black);
  text-decoration: none;
}

*:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}

h1 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-size: 2.6rem;
  margin: 0.25em 0;
}
h2 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.25em 0;
}
h3 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  font-size: 1.8rem;
  margin: 0.25em 0;
}
h4 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  font-size: 1.6rem;
  margin: 0.25em 0;
}
h5 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  font-size: 1.4rem;
  margin: 0.25em 0;
}
h6 {
  font-family: Finlandica, "Segoe UI", sans-serif;
  font-size: 1.2rem;
  margin: 0.25em 0;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 0.25em 0;
}

a {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 0.25em 0;
  color: var(--white);
}
a:hover {
  color: var(--lightgrey);
}
a:focus-visible {
  color: var(--lightgrey);
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.button::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--white);
  transition: 0.4s ease;
  display: block;
  z-index: -1;
}
.button:hover::before {
  width: 200%;
}
.button:hover {
  color: var(--black);
}
.button:focus-visible {
  background: var(--white);
  color: var(--black);
}

button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}

input, textarea {
  font-family: Roboto, sans-serif;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
}

/* Menu */
nav {
  border-bottom: 1px solid var(--white);
  margin: 0 0.5rem 1rem;
  padding: 1rem 0;
}
nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: calc(100% - 1rem);
  border-top: 1px solid var(--white);
  margin: 1rem 0.5rem 0;
  padding: 1rem 0;
}
footer .info {
  padding: 0;
  margin: 0;
}
footer a {
  text-decoration: none;
}
.social-list {
  margin: 0.5rem 0;
  margin-top: 0;
}
.social-list a {
  padding: 0.5em;
}
.social-list a svg path {
  fill: var(--white);
}
.social-list a:hover svg path {
  fill: var(--lightgrey);
}
.social-list a:focus-visible {
  outline: none;
}
.social-list a:focus-visible svg {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}
.social-list a:focus-visible svg path {
  fill: var(--lightgrey);
}

/* Cards */
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  transition: 0.2s ease;
}
.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
.card img {
  width: 100%;
  height: auto;
  border-radius: var(--corner) var(--corner) 0 0;
}

/* Split Cards */
.split-card {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  transition: 0.2s ease;
}
.split-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
.split-card h3 {
  margin-left: 0;
}
.split-card img {
  max-width: 100%;
  max-height: 80vh;
}
.split-card .text {
  margin-left: 2rem;
  text-align: left;
}
.split-card .button {
  margin-left: 0;
}

/* Stack Cards */
.stack-collections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stack-card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: var(--corner);
  transition: 0.2s ease;
}
.stack-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
.stack-card img {
  width: 100%;
  height: auto;
  border-radius: var(--corner) var(--corner) 0 0;
}

/* Video Cards */
.video-card {
  grid-template-columns: max-content 1fr;
}

/* Cookie Consent */
#cookie-consent {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 0 1rem;
  background-color: var(--black);
  border: 1px solid var(--white);
  z-index: 1;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.gallery img {
  margin: 0.5rem;
  width: calc(100% - 1rem);
  height: auto;
}

@media screen and (max-width: 1200px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .stack-collections {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 900px) {
  .collections {
    grid-template-columns: 1fr 1fr;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
  .skip-nav {
    display: none;
  }
  .collections {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 100%;
  }
  .card:hover,
  .split-card:hover,
  .stack-card:hover {
    transform: none;
    box-shadow: none;
  }
  .split-card {
    grid-template-columns: 100%;
  }
  .split-card .text {
    margin-left: 0;
    text-align: center;
  }
  #cookie-consent {
    width: calc(100% - 2rem - 2px);
    bottom: 0;
    left: 0;
  }
}
