@font-face {
  font-family: "Meshed Display";
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: local("MeshedDisplay-SemiBold"),
       url("/fonts/Meshed Display/MeshedDisplay-SemiBold.woff2") format("woff2"),
       url("/fonts/Meshed Display/MeshedDisplay-SemiBold.woff") format("woff"),
       url("/fonts/Meshed Display/MeshedDisplay-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Meshed Display";
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: local("MeshedDisplay-Black"),
       url("/fonts/Meshed Display/MeshedDisplay-Black.woff2") format("woff2"),
       url("/fonts/Meshed Display/MeshedDisplay-Black.woff") format("woff"),
       url("/fonts/Meshed Display/MeshedDisplay-Black.ttf") format("truetype");
}
