* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    font-family: Roboto, sans-serif;
}
.weather {
    margin-top: 1rem;
}
#location {
    font-size: 1.5rem;
}
#temp {
    font-size: 6rem;
}
#minmax {
    font-size: 1.5rem;
}
#wind {
    font-size: 1rem;
    line-height: 150%;
}
#humidity {
    font-size: 1rem;
    line-height: 150%;
}