---
permalink: "404.html"
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>404 | Zachary Crespin</title>
    <meta name="description" content="page does not exist">
    <link rel="icon" href="https://zacharyc.site/favicon.png">
    <link rel="apple-touch-icon" href="https://zacharyc.site/images/icons/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Schedule">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://zacharyc.site/main.css">
    <style>
      h1 {
        margin: 0;
        padding: 0;
        font-size: 50vh;
        letter-spacing: 2rem;
        transition: all 0.5s;
        text-shadow: 
          5px 5px 0px hsl(0, 0%, 90%),
          10px 10px 0px hsl(0, 0%, 80%),
          15px 15px 0px hsl(0, 0%, 70%),
          20px 20px 0px hsl(0, 0%, 60%),
          25px 25px 0px hsl(0, 0%, 50%),
          30px 30px 0px hsl(0, 0%, 40%),
          35px 35px 0px hsl(0, 0%, 30%),
          40px 40px 0px hsl(0, 0%, 20%),
          45px 45px 0px hsl(0, 0%, 10%);
      }
      h1:hover {
        letter-spacing: normal;
        -webkit-text-stroke: 1px white;
        color: transparent;
        text-shadow: none;
      }
      @media screen and (max-width: 1000px) {
        h1 {
          letter-spacing: normal;
          -webkit-text-stroke: 3px white;
          color: transparent;
          text-shadow: none;
        }
      }
    </style>
  </head>
  <body>
    <main role="main" id="content">
      <h1>404</h1>
      <h2>This page does not exist</h2>
      <a href="https://zacharyc.site" class="button">Back Home</a>
    </main>
  </body>
</html>