---
title: Not Found
layout: default
permalink: "404.html"
eleventyExcludeFromCollections: true
extraHeadCode: | 
  <style>
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
---
<p>This page does not exist</p>
<a href="https://zacharyc.site" class="button">Back Home</a>
