---
title: Code Projects
description: Code Projects
layout: 'basic.njk'
permalink: code.html
---
    <h1>Code Projects</h1>
    <a href="https://github.com/Z-C-Code">more on Github</a>
    <div class="split-card" id="wordle-hacker">
        <div class="pics">
            <img src="https://assets.zacharyc.site/images/code/wordle-hacker.png" alt="Wordle Hacker Image">
        </div>
        <div class="text">
            <h2>Wordle Hacker</h2>
            <p>Chrome Extention</p>
            <a class="button" href="https://github.com/Z-C-Code/wordle-hacker-chrome-extension">Download</a>
        </div>
    </div>
    <div class="split-card" id="see-your-mouse">
        <div class="pics">
            <img src="https://via.placeholder.com/1280x640" alt="See Your Mouse Image">
        </div>
        <div class="text">
            <h2>See Your Mouse</h2>
            <a class="button" href="code/see-your-mouse">See</a>
        </div>
    </div>
    <div class="split-card" id="guess-the-number">
        <div class="pics">
            <img src="https://via.placeholder.com/1280x640" alt="Guess The Number Image">
        </div>
        <div class="text">
            <h2>Guess The Number</h2>
            <a class="button" href="code/guess-the-number">Play</a>
        </div>
    </div>