---
title: Code
description: Code Projects and Experiments
id: code
layout: default.webc
---
<h2>Featured Projects</h2>
<section class="page-section">
  <div class="cards">
    {%- for project in collections.featuredCode | sort('featuredOrder') -%}
      {% set loadingStrategy = "lazy" if loop.index0 > 2 else "eager" %}
      <div class="section split" aria-label="{{ project.data.title }}">
        {% image project.data.img, project.data.title, "large", "(max-width: 900px) 100vw, 60vw", loadingStrategy %}
        <div class="text">
          <h3>{{ project.data.title }}</h3>
          {% if project.data.description %}
          <p>{{ project.data.description }}</p>
          {% endif %}
          <p>{{ project.data.date | fullString }}</p>
          <div class="tags">
            {%- for tag in project.data.tech -%}
              <p class="tag">{{ tag }}</p>
            {%- endfor -%}
          </div>
          {% if project.data.docs %}<a class="button" href="{{ project.data.docs }}" title="{{ project.data.title }} Documentation">Docs</a>{% endif %}
          {% if project.data.live %}<a class="button" href="{{ project.data.live }}" target="_blank" title="Visit live site">Live</a>{% endif %}
          {% if project.data.source %}<a class="button" href="{{ project.data.source }}" target="_blank" title="{{ project.data.title }} Source Code">Source</a>{% endif %}
        </div>
      </div>
      <hr>
    {%- endfor -%}
  </div>
</section>
<a class="button center" href="/code/all-projects/">More Projects</a>
