---
title: Code Projects
description: Code Projects
layout: 'basic.njk'
id: code
---
<h1>Code</h1>
<h2>Featured Projects</h2>
<div class="stack-collections">
  <div class="stack-card" id="freeperiodictables">
    {% image "./src/images/code/freeperiodictables.png", "Free Periodic Tables" %}
    <div class="text">
      <h3>Free Periodic Tables</h3>
      <p>11ty, Figma</p>
      <a class="button" href="https://periodictables.zacharyc.site" target="_blank">View</a>
    </div>
  </div>
  <div class="stack-card" id="bellschedule">
    {% image "./src/images/code/bellschedule.png", "FHS Bell Schedule" %}
    <div class="text">
      <h3>FHS Bell Schedule</h3>
      <p>Python</p>
      <a class="button" href="https://fhsbellschedule.web.app/" target="_blank">View</a>
    </div>
  </div>
</div>
<h2>All Projects</h2>
<div class="collections">
  {%- for code in collections.code | reverse -%}
  <div class="card">
    <h3>{{ code.data.title }}</h3>
    <p>{{ code.data.tech }}</p>
    <a class="button" href="{{ code.data.link }}" target="_blank">View</a>
  </div>
  {%- endfor -%}
</div>