---
title: Contact
id: contact
layout: default.webc
---
<form action="https://formsubmit.co/contact@zacharyc.site" method="POST">
  <div class="input">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="input">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div class="input">
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" autocomplete="off" required></textarea>
  </div>
  <input type="hidden" name="_next" value="https://zacharyc.site/contact/thanks">
  <div class="formSend">
    <button type="submit">Send</button>
  </div>
</form>
<style>
  form {
    max-width: 50ch;
    margin-inline: auto;
  }
  form .input {
    display: flex;
    flex-direction: column;
  }
  form .input input:not([type="radio"], [type="checkbox"], [type="file"]), form .input textarea, form .input select {
    margin-block-start: 0.5rem;
    margin-inline-start: 0;
  }
  .formSend {
    text-align: center;
  }
</style>
