---
title: Design
description: Design
layout: default
id: design
---
<article>
  <h2 class="section-heading">Color</h2>
  <style>
    .colors {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .color {
      margin: 0.5rem;
      padding: 1rem 0;
      text-align: center;
      border-radius: var(--corner);
    }
  </style>
  <div class="colors">
    <span class="color" style="background-color: #fff; color: black;">white: #fff</span>
    <span class="color" style="background-color: #bfbfbf; color: black;">lightgrey: #bfbfbf</span>
    <span class="color" style="background-color: #808080; color: black;">grey: #808080</span>
    <span class="color" style="background-color: #404040; color: white;">darkgrey: #404040</span>
    <span class="color" style="background-color: #000; color: white;">black: #000</span>
    <span class="color" style="background: linear-gradient(135deg, #2E2E2E 0%, #000 100%); color: white;">135deg<br>#2E2E2E, #000</span>
  </div>  

  <h2 class="section-heading">Typography</h2>
  <span class="h1">h1 Heading</span><br>
  <span class="h2">h2 Heading</span><br>
  <span class="h3">h3 Heading</span><br>
  <span class="h4">h4 Heading</span><br>
  <span class="h5">h5 Heading</span><br>
  <span class="h6">h6 Heading</span><br>
  <span class="p">Paragraph</span><br>
  <span class="p"><i>Paragraph (italicized)</i></span>
</article>
