---
title: Film
description: Film
id: film
layout: default
---
<h2>Fatured Films</h2>
<div class="cards">
  {% for film in collections.film | reverse %}
  <div class="section split" id="{{ film.data.id }}" aria-label="{{ film.data.title }}">
    {% if film.data.watchlink %}
    <div class="video">
      <a href="{{ film.data.watchlink }}" class="video-preview" aria-label="Watch Now">
        <img src="/images/icons/play_circle.svg" class="play-circle" alt="play icon">
        {% image film.data.img, film.data.imgalt, 600 %}
      </a>
    </div>
    {% else %}
    {% image film.data.img, film.data.imgalt, 600 %}
    {% endif %}
    <div class="text">
      <h2 class="h3">{{ film.data.title }}</h2>
      <p>{{ film.data.date | fullString }}</p>
      {% if film.data.description %}
      <p>{{ film.data.description }}</p>
      {% if film.data.extDescription %}
      <p>{{ film.data.extDescription }}</p>
      {% endif %}
      {% endif %}
      {% if film.data.watchlink %}
      <a href="{{ film.data.watchlink }}" class="button">Watch Now</a>
      {% endif %}
      {% if film.data.infolink %}
      <a href="{{ film.data.infolink }}" class="button">More Info</a>
      {% endif %}
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
<a class="button center" href="/film/all-films/">More Films</a>

<style>
  section.split img, .section.split img {
    max-height: 50vh;
  }
</style>