---
title: Home
description: Photography and more
layout: 'basic.njk'
id: home
---
    <h1>Latest Work</h1>
    <style>
      /* i know this is a terable way to do it */
      /* i will fix it at some point */
      /* basicly if it is child 5 or higher it aplys display = none */
      .collections .card:nth-child(+n+5) {
        display: none;
      }
    </style>
    <h2>Photos</h2>
    <div class="collections">
      {%- for collection in collections.collection | reverse -%}
      <div class="card">
        <img class="card-image" src="{{ collection.data.img }}" alt="{{ collection.data.title }} Collection Image" width="100%">
          <h2>{{ collection.data.title }}</h2>
          <p>{{ collection.data.numberofphotos }} Photos</p>
          <a class="button" href="/photography/collections/{{ collection.data.url }}">View Collection</a>
      </div>
      {%- endfor -%}
    </div>
    <a class="button" href="/photography">View More Photos</a>

    <h2>Coding Projects</h2>
    <div class="collections">
      <div class="card">
        <h2>Free Periodic Tables</h2>
        <p><a href="https://11ty.dev">11ty</a></p>
        <a class="button" href="https://freeperiodictables.zacharyc.site" target="_blank">Visit</a>
      </div>
      <div class="card">
        <h2>Weather</h2>
        <p>API</p>
        <a class="button" href="/code/weather" target="_blank">View</a>
      </div>
      <div class="card">
        <h2>Advice</h2>
        <p>API</p>
        <a class="button" href="/code/advice" target="_blank">View</a>
      </div>
      <div class="card">
        <h2>Wordle Hacker</h2>
        <p>Chrome Extention</p>
        <a class="button" href="https://github.com/Z-C-Code/wordle-hacker-chrome-extension" target="_blank">Download</a>
      </div>
    </div>
    <a class="button" href="/code">View More Projects</a>