---
title: Featured Work
seoTitle: Zachary Crespin
titleOverride: true
description: Photographer, Filmmaker, Programmer
id: home
layout: default.webc
---
<div class="cards">
  {% for section in collections.all | reverse | sort('homeFeaturedOrder') %}
    {% if section.data.homeFeatured %}
    {% if section.data.homeCustom %}
    {{ section.content | safe }}<hr>
    {% else %}
    <div class="section split" aria-label="{{ section.data.title }}">
      <img src="/images/{{ section.data.img }}" alt="{{ section.data.title }}">
      <div class="text">
        <h2 class="h3">{{ section.data.title }}</h2>
        <p>{{ section.data.date | fullString }}</p>
        <!-- Film -->
        {% if section.data.description %}
        <p>{{ section.data.description }}</p>
        {% endif %}
        <div class="tags" aria-label="Tags">
          <p class="tag">{{ section.data.displayTag }}</p>
          {%- for tag in section.data.tech -%}<p class="tag">{{ tag }}</p>{%- endfor -%}
        </div>
        <!-- Code -->
        {% if section.data.extraLink %}<a class="button" href="{{ section.data.extraLink }}">{{ section.data.extraLinkText }}</a>{% endif %}
        {% if section.data.live %}<a class="button" href="{{ section.data.live }}" target="_blank">Live</a>{% endif %}
        {% if section.data.source %}<a class="button" href="{{ section.data.source }}" target="_blank">Source</a>{% endif %}
        <!-- Film -->
        {% if section.data.watchlink %}
          <a href="{{ section.data.watchlink }}" class="button">Watch Now</a>
        {% else %}
          <a href="/film/{{section.data.id}}" class="button">Watch Now</a>
        {% endif %}
        {% if section.data.infolink %}<a href="{{ section.data.infolink }}" class="button">More Info</a>{% endif %}
      </div>
    </div>
    <hr>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>

<style>
  .section-gallery {
    display: grid;
    grid-template-columns: auto max-content;
  }
  @media screen and (width < 900px) {
    .section-gallery, .section.section-gallery, .section-gallery .gallery, .section.section-gallery .gallery {
      grid-template-columns: 100%;
    }
  }
</style>