---
title: Home
description: Photography, Code and more
layout: 'basic.njk'
id: home
---
    <h1>Latest Work</h1>
    <style>
      /* i know this is a terable way to do it */
      /* i will fix it at some point */
      /* basicly if it is child 5 or higher it aplys display = none */
      .collections .card:nth-child(+n+5) {
        display: none;
      }
    </style>
    <h2>Latest Photos</h2>
    <div class="collections">
    {%- for collection in collections.collection | reverse -%}
    <div class="card">
      <img class="card-image" src="{{ collection.data.img }}" alt="{{ collection.data.title }} Collection Image" width="100%">
      <h2 class="card-text">{{ collection.data.title }}</h2>
      <p class="card-text">{{ collection.data.numberofphotos }} Photos</p>
      <a class="button" href="/photography/collections/{{ collection.data.url }}">View Collection</a>
    </div>
    {%- endfor -%}
    </div>
    <a class="button" href="/photography/collections">View More Collections</a>

    <h2>Coding Projects</h2>
    <div class="collections">
      {%- for code in collections.code | reverse -%}
      <div class="card">
        <h2>{{ code.data.title }}</h2>
        <p>{{ code.data.tech }}</p>
        <a class="button" href="{{ code.data.link }}" target="_blank">{{ code.data.linktext }}</a>
      </div>
      {%- endfor -%}
    </div>
    <a class="button" href="/code">View More Projects</a>