---
seoTitle: Links
title: My Links
description: My Links
id: links
layout: base
eleventyExcludeFromCollections: true
---
<header>
  <h1>Hi, I’m Zachary Crespin</h1>
  <p>Cheak Out My Links</p>
</header>
<main role="main" class="links">
  {%- for link in links -%}
  <a class="button" href="{{ link.url }}" target="_blank">{{ link.text }}</a>
  {%- endfor -%}
</main>

<style>
  body {
    text-align: center;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    padding: 0;
    min-height: max-content;
  }
  .links .button {
    width: calc(100% - 4rem);
    max-width: var(--max-line);
    margin: 1rem auto;
    padding: 1rem 1.5rem;
  }
</style>