:root {
  --white: #fff;
  --lightgrey: #bfbfbf;
  --grey: #808080;
  --darkgrey: #404040;
  --black: #000;
  --stroke: 1px;
  --corner: 0;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--white);
  color: var(--black);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}
::-webkit-scrollbar-corner {
  background-color: var(--black);
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  margin: 0 3rem;
}

.skip-nav {
  z-index: 2;
  background: var(--white);
  color: var(--black);
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  float: left;
  left: 0;
  transform: translateY(-400%);
  transition: transform 200ms ease-in;
}
.skip-nav:focus {
  transform: translateY(0);
  color: var(--black);
  text-decoration: none;
}

h1, .h1 {
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin: 0.25em;
}
h2, .h2 {
  font-family: Roboto, sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  margin: 0.25em;
}
h3, .h3 {
  font-family: Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0.25em;
}
h4, .h4 {
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  font-weight: 200;
  margin: 0.25em;
}
h5, .h5 {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  margin: 0.25em;
}
h6, .h6 {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0.25em;
}

p, .p {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin: 0.25em;
}
p a {
  margin: 0;
}

a, .a {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin: 0.25em;
  color: var(--white);
}
a:hover, .a:hover {
  color: var(--lightgrey);
  cursor: pointer;
}
a:focus-visible, .a:focus-visible {
  color: var(--lightgrey);
}

.black {
  font-family: "Meshed Display Black", serif;
  font-weight: 900;
}

.button, button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: var(--stroke) solid var(--white);
  border-radius: var(--corner);
  color: var(--white);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.button::before, button::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--white);
  transition: 0.4s ease;
  display: block;
  z-index: -1;
}
.button:hover::before, button:hover::before {
  width: 200%;
}
.button:hover, button:hover {
  color: var(--black);
  cursor: pointer;
}
.button:focus-visible, button:focus-visible {
  background: var(--white);
  color: var(--black);
}

header, footer {
  display: grid;
  margin: 1rem 0;
  padding: 0 0.5rem;
}
header {
  grid-template-columns: max-content auto;
}
footer {
  grid-template-columns: auto max-content;
}

header a, footer a, header p, footer p {
  font-size: 1.1rem;
}
header a, footer a {
  text-decoration: none;
}

header nav, footer nav {
  display: flex;
}
header nav {
  justify-content: flex-end;
}
footer nav {
  justify-content: flex-start;
}

header nav a, footer nav a, footer p {
  padding: calc((2.2rem + 0.25em - 1.1rem)/2) 0.5rem;
}

footer a:hover svg path {
  fill: var(--lightgrey);
}
footer a:focus-visible svg path {
  fill: var(--lightgrey);
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards.wide {
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: var(--stroke) solid var(--white);
  border-radius: var(--corner);
  transition: 0.2s ease;
}
.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--white);
}
a.card {
  text-decoration: none;
}
a.card:hover {
  color: var(--white);
}
a.card:focus {
  color: var(--white);
}
.card img {
  width: calc(100% + 1rem);
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  height: auto;
  border-radius: var(--corner) var(--corner) 0 0;
}

/* Full Width Cards */
.card.full {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 1rem 0.5rem;
  padding: 1rem;
}
.card.full img {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
}
.card.full .text {
  margin-left: 2rem;
  text-align: left;
}
.card.full h3 {
  margin-left: 0;
}
.card.full .button {
  margin-left: 0;
}

/* Cookie Consent */
#consent {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background-color: var(--black);
  border: var(--stroke) solid var(--white);
  z-index: 1;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.photo {
  margin: 0.5rem;
  padding: 0;
}
.gallery img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .cards.wide {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
  .skip-nav {
    display: none;
  }
  .cards {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 100%;
  }
  .card:hover,
  .card.full:hover,
  .stack-card:hover {
    transform: none;
    box-shadow: none;
  }
  .card.full {
    grid-template-columns: 100%;
  }
  .card.full .text {
    margin-left: 0;
    text-align: center;
  }
  #consent {
    width: calc(100% - 1rem - 2px);
    bottom: 0;
    left: 0;
  }
  header, footer {
    grid-template-columns: 100%;
    padding: 0;
  }
  header nav, footer nav {
    justify-content: center;
  }
  header nav a, footer nav a, footer p {
    padding: 0 0.5rem;
  }
}
