@font-face {
  font-family: Inter;
  src: 
    local('Inter'),
    url('/fonts/Inter/Inter.woff2') format('woff2'),
    url('/fonts/Inter/Inter.ttf') format('truetype');
}

:root {
  /* Colors */
  --black: #000;
  --darkgrey: #404040;
  --grey: #808080;
  --lightgrey: #bfbfbf;
  --white: #fff;

  /* Typography */
  --font: 'Inter', sans-serif;
  --italic-font: 'Georgia', serif;
  --font-weight: 300;
  --heading-font-weight: 900;
  --subheading-font-weight: 600;

  /* Type Scale */
  --double-canon: 4.666em;
  --canon: 3.999em;
  --double-great-primer: 2.999em;
  --double-english: 2.333em;
  --double-pica: 2em;
  --paragon: 1.666em;
  --english: 1.166em;
  --pica: 1em;
  --small-pica: 0.916em;
  --long-primer: 0.833em;
  --bourgeois: 0.75em;

  /* More */
  --stroke: 1px;
  --corner: 0.25rem;
  --transition: 150ms;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font);
  font-weight: var(--font-weight);
  background-color: var(--black);
  color: var(--white);
  margin: 0 3rem;
}

main {
  min-height: calc(100vh - 8rem);
  min-height: calc(100dvh - 8rem);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}
::-webkit-scrollbar-corner {
  background-color: var(--black);
}

::selection {
  background: var(--white);
  color: var(--black);
}

*:focus-visible {
  outline-offset: 0.25rem;
  outline: var(--stroke) solid var(--white);
}

h1, .h1 {
  font-size: var(--canon);
  font-weight: var(--heading-font-weight);
  margin: 0.25em 0;
}
h1.title {
  text-align: center;
}
h2, .h2 {
  font-size: var(--double-great-primer);
  font-weight: var(--subheading-font-weight);
  margin: 0.25em 0;
}
h2.section-heading, .h2.section-heading, section h2:first-child, section .h2:first-child {
  text-align: left;
  padding-left: 0.5rem;
  padding-bottom: calc(0.25em/2);
  border-bottom: var(--stroke) solid var(--white);
}
h3, .h3 {
  font-size: var(--double-english);
  font-weight: var(--font-weight);
  margin: 0.25em 0;
}
h4, .h4 {
  font-family: var(--font);
  font-size: var(--double-pica);
  font-weight: var(--font-weight);
  margin: 0.25em 0;
}
h5, .h5 {
  font-size: var(--paragon);
  font-weight: var(--font-weight);
  margin: 0.25em 0;
}
h6, .h6 {
  font-size: var(--english);
  font-weight: var(--font-weight);
  margin: 0.25em 0;
}

p, .p {
  font-size: var(--pica);
  font-weight: var(--font-weight);
  margin: 0.25em 0;
}

a, .a {
  margin: 0.25em 0;
  background-color: transparent;
  color: var(--white);
}
p a {
  margin: 0;
}
a:hover, .a:hover, a:focus-visible, .a:focus-visible {
  color: var(--lightgrey);
  cursor: pointer;
}

b, strong {
  font-weight: bolder;
}

em, i {
  font-family: var(--italic-font);
}

small{
  font-size:80%;
}

img {
  border-style: none;
  height: auto;
  max-width: 100vw;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.center {
  text-align: center;
}

.skip-nav {
  z-index: 2;
  background: var(--white);
  color: var(--black);
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-300%);
  transition: transform 0.2s ease-in;
}
.skip-nav:focus {
  transform: translateY(0);
}

.button {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1.5rem;
  border: var(--stroke) solid var(--white);
  border-radius: var(--corner);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
}
.button:hover,.button:focus-visible {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
}

.button.center {
  display: block;
  max-width: max-content;
  margin: 1rem auto;
}

header {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 1rem 0;
}
.header-logo img {
  height: var(--double-pica); /* h4 sizing */
  max-width: max-content;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1em;
}

footer {
  margin: 1rem 0;
  text-align: center;
}

section {
  text-align: center;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards.wide {
  grid-template-columns: 1fr 1fr;
}

/* Standard Cards */
.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: var(--stroke) solid var(--white);
  border-radius: var(--corner);
  text-align: center;
}
a.card, .card * {
  text-decoration: none;
}
a.card:hover, a.card:focus-visible {
  color: var(--white);
}
a.card:focus-visible .button {
  background-color: var(--white);
  color: var(--black);
}
.card:not(.full) img {
  width: calc(100% + 1rem);
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  height: auto;
  border-radius: var(--corner) var(--corner) 0 0;
}

/* Full Width Cards */
.card.full {
  display: grid;
  grid-template-columns: max-content auto;
}
.card.full img {
  width: auto;
  height: auto;
  max-width: 60vw;
  max-height: 80vh;
}
.card.full .text {
  margin-left: 1rem;
  text-align: left;
}
.card.full .text .button {
  margin-left: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tags .tag {
  background-color: var(--white);
  color: var(--black);
  margin: 0.5rem 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 100vmax;
}
.tags .tag::selection {
  background: var(--black);
  color: var(--white);
}
.card.full .tags {
  justify-content: flex-start;
}
.card.full .tag:first-of-type {
  margin-left: 0;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.photo {
  margin: 0.5rem;
  padding: 0;
}
.gallery .photo img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@media screen and (width < 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width < 1000px) {
  .cards.wide {
    grid-template-columns: 100%;
  }
}

@media screen and (width < 900px) {
  h1, .h1 {
    font-size: var(--double-great-primer);
  }
  h2, .h2 {
    font-size: var(--double-english);
  }
  h3, .h3 {
    font-size: var(--double-pica);
  }
  h4, .h4 {
    font-size: var(--paragon);
  }
  h5, .h5 {
    font-size: var(--english);
  }
  h6, .h6 {
    font-size: var(--pica);
  }
  p, .p {
    font-size: var(--small-pica);
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card.full {
    grid-template-columns: 100%;
  }
  .card.full img {
    margin: 0;
    max-width: 100%;
  }
  .card.full .text {
    margin-left: 0;
    text-align: center;
  }
  .card.full .text .button {
    margin-left: 0.5rem;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 600px) {
  body {
    margin: 0 1rem;
  }
  .skip-nav {
    display: none;
  }
  h1, .h1 {
    font-size: var(--double-english);
  }
  h2, .h2 {
    font-size: var(--double-pica);
  }
  h3, .h3 {
    font-size: var(--paragon);
  }
  h4, .h4 {
    font-size: var(--english);
  }
  h5, .h5 {
    font-size: var(--pica);
  }
  h6, .h6 {
    font-size: var(--small-pica);
  }
  p, .p {
    font-size: var(--long-primer);
  }
  header {
    grid-template-columns: 100%;
    padding: 0;
  }
  header .logo {
    text-align: center;
  }
  header nav {
    justify-content: center;
  }
  header nav a {
    padding: 1em;
  }
  h2.section-heading, .h2.section-heading, section h2:first-child, section .h2:first-child {
    text-align: center;
    padding-left: 0;
  }
  .cards {
    grid-template-columns: 100%;
  }
  .gallery {
    grid-template-columns: 100%;
  }
}
