---
permalink: pages.json
eleventyExcludeFromCollections: true
---
[
  {%- for page in collections.all -%}
  {%- if page.url -%}
  {
    "url": "https://zacharyc.site{{ page.url }}",
    "title": "{{ page.data.title }}",
    "description": "{{ page.data.description }}",
    "tags": "{{ page.data.tags | filterTags }}"{%- if page.data.shareImage -%},
    "img": "https://zacharyc.site/images/{{ page.data.shareImage }}"
    {%- endif -%}
  },
  {%- endif -%}
  {%- endfor -%}
  {%- for table in collections.table -%}
  {
    "url": "https://zacharyc.site/periodic-tables/#{{ table.data.id }}",
    "title": "{{ table.data.name }}",
    "description": "{{ table.data.name }} Periodic Table",
    "tags": "{{ table.data.tags | filterTags }}",
    "img": "https://zacharyc.site/images/{{ table.data.img }}"
  },
  {%- endfor -%}
  {%- for wallpaper in collections.wallpaper -%}
  {
    "url": "https://zacharyc.site/wallpapers/#{{ wallpaper.data.id }}",
    "title": "{{ wallpaper.data.name }}",
    "description": "{{ wallpaper.data.name }} Wallpapers",
    "tags": "{{ wallpaper.data.tags | filterTags }}",
    "img": "https://zacharyc.site/images/share/wallpapers.jpg"
  },
  {%- endfor -%}
    {%- for design in collections.3d -%}
  {
    "url": "https://zacharyc.site/3d/#{{ design.data.id }}",
    "title": "{{ design.data.title }}",
    "description": "{{ design.data.description }}",
    "tags": "{{ design.data.tags | filterTags }}",
    "img": "https://zacharyc.site/images/{{design.data.imgs[0]}}"
  },
  {%- endfor -%}
  {
    "url": "https://fhsbellschedule.netlify.app/",
    "title": "Today — FHS Bell Schedule",
    "description": "Today's Foothill High School Bell Schedule"
  },
  {
    "url": "https://math-to-svg.netlify.app/",
    "title": "Math To SVG",
    "description": "Convert AsciiMath strings into beautiful SVGs"
  }
]
