---
title: Periodic Tables
description: Free Periodic Tables
id: periodic-tables
layout: default
trackDownloads: true
---
<div class="cards">
  {%- for table in collections.table | reverse -%}
  <div class="section split" id="{{ table.data.id }}" aria-label="{{ table.data.name }}">
    {% image table.data.img, table.data.name + " Periodic Table", 600, true %}
    <div class="text">
      <h2 class="h3">{{ table.data.name }}</h2>
      <p>{{ table.data.date | fullString }}</p>
      <div class="tags">
        {% for tag in table.data.tags | filterTags %}
          <p class="tag">{{ tag }}</p>
        {% endfor %}
      </div>
      <a class="button" href="/files/{{- table.data.id -}}.zip" onclick="trackDownload('/files/{{- table.data.id -}}.zip')">Download</a>
    </div>
  </div>
  <hr>
  {%- endfor -%}
</div>
