---
title: Projects
description: Projects
layout: default
id: projects
---
<div class="cards wide">
  {%- for project in collections.project | reverse -%}
  <div class="card">
    {% image "./src/images/code/"+project.data.img, project.data.title, 600 %}
    <div class="text">
      <h3 class="h4">{{ project.data.title }}</h3>
      <div class="tags">
        {%- for tag in project.data.tech -%}
          <p class="tag">{{ tag }}</p>
        {%- endfor -%}
      </div>
      {% if project.data.live %}<a class="button" href="{{ project.data.live }}" target="_blank">Live</a>{% endif %}
      {% if project.data.source %}<a class="button" href="{{ project.data.source }}" target="_blank">Source</a>{% endif %}
    </div>
  </div>
  {%- endfor -%}
</div>