---
title: Search
layout: default
---
<form id="searchForm" class="center">
  <input type="search" name="q" id="query">
  <button type="submit">Search</button>
</form>
<div id="searchResults"></div>
<script>
  {% include './search.js' %}
</script>
