---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://zacharyc.site</loc>
  </url>
  <url>
    <loc>https://zacharyc.site/code/</loc>
  </url>
  <url>
    <loc>https://zacharyc.site/code/11ty-external-file-downloader/</loc>
  </url>
  <url>
    <loc>https://zacharyc.site/photography/</loc>
  </url>
  <url>
    <loc>https://zacharyc.site/photography/collections/</loc>
  </url>
  {%- for collection in collections.collection | reverse -%}
  <url>
    <loc>https://zacharyc.site/photography/{{ collection.data.id }}/</loc>
  </url>
  {%- endfor -%}
  <url>
    <loc>https://zacharyc.site/film/</loc>
  </url>
  <url>
    <loc>https://zacharyc.site/wallpapers/</loc>
  </url>
</urlset>
