---
title: Tech
description: Technology used in this site
layout: 'basic.njk'
id: tech
---
    <style>
      #technology {
        color: white;
        line-height: 200%;
        text-align: left;
        width: max-content;
        margin: auto;
      }
    </style>
    <h1>Technology</h1>
    <ul id="technology">
      <li><a href="https://fonts.google.com/">Google Fonts</a> - Fonts and Icons</li>
      <li><a href="https://github.com/feimosi/baguetteBox.js">baguetteBox.js</a> - Image Sliders</li>
      <li><a href="https://www.11ty.dev/">11ty</a> - Static Site Generator</li>
      <li><a href="https://github.com">GitHub</a></li>
      <li><a href="https://firebase.google.com/">Firebase</a> - Hosting, Performance, and Analytics</li>
    </ul>
    <a href="/tech/licenses">View Licenses</a>