---
title: Tech
description: Technology used in this site
layout: 'basic.njk'
permalink: tech.html
---
    <style>
      ul{
        color: white;
        line-height: 200%;
        text-align: left;
        width: max-content;
        margin: auto;
      }
    </style>
    <h1>Tech</h1>
    <p>Technology used in this site</p>
    <ul>
      <li>Html</li>
      <li>Css</li>
      <li>Javascript</li>
      <li><a href="https://netlify.com">Netlify</a> | Hosting</li>
      <li><a href="https://firebase.google.com/">Firebase</a> | Performance, and Analytics</li>
      <li><a href="https://github.com/feimosi/baguetteBox.js">baguetteBox.js</a> | Image Sliders</li>
      <li><a href="https://fonts.google.com/">Google Fonts</a> | Fonts and Icons</li>
      <li><a href="https://eepurl.com/hOg3JP">Mailchimp</a> | Mailing List</li>
      <li><a href="https://imgbb.com/">imgBB</a> | Image Hosting</li>
      <li><a href="https://formsubmit.co/">formsubmit</a> | Contact Form</li>
      <li><a href="https://github.com/onderceylan/pwa-asset-generator">PWA Asset Generator</a></li>
      <li><a href="https://www.11ty.dev/">11ty</a> | Static Site Generator</li>
    </ul>