---
title: Timers
description: Video Timers 
id: timers
layout: default.webc
---
<div class="cards">
  {%- for timer in collections.timer | reverse -%}
  <div class="section split" id="{{ timer.data.id }}" aria-label="{{ timer.data.name }}">
    {% image timer.data.img, timer.data.imgAlt, "large", "(max-width: 900px) 100vw, 60vw", "lazy" %}
    <div class="text">
      <h2 class="h3">{{ timer.data.name }}</h2>
      <div class="tags">
        {% for tag in timer.data.tags | filterTags %}
          <p class="tag">{{ tag }}</p>
        {% endfor %}
      </div>
      <p>{{ timer.data.description }}</p>
      <a class="button" href="{{ timer.data.link }}">{{ timer.data.linkText}}</a>
    </div>
  </div>
  <hr>
  {%- endfor -%}
</div>
