---
title: Wallpapers
description: Wallpapers
layout: 'basic.njk'
permalink: wallpapers.html
---
    <style>
      img{
        width: 100%;
      }
      .new{
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 25px 15px;
        padding: 25px;
        border: 1px solid var(--white);
      }
    </style>
    <h1>Wallpapers</h1>
      <div class="new" id="Inverted">
        <div class="pics">
          <img src="/imgs/wallpapers/inverted.png" data-pin-id="781656079084704495" alt="grid of phone wallpapers">
        </div>
        <div class="text">
          <h2>Inverted</h2>
          <p>Mobile Wallpapers</p>
          <p>10 Colors</p>
          <p>2 Variants</p>
          <a class="button" href="/files/Inverted.zip">Download</a>
        </div>
      </div>
      <div class="new" id="dot">
        <div class="pics">
          <img src="/imgs/wallpapers/dot.png" data-pin-id="781656079084704469" alt="phone wallpapers">
        </div>
        <div class="text">
          <h2>Dot</h2>
          <p>Mobile Wallpapers</p>
          <p>2 Variants</p>
          <a class="button" href="/files/Dot.zip">Download</a>
        </div>
      </div>
      <div class="new" id="vortex">
        <div class="pics">
          <img src="/imgs/wallpapers/vortex.png" data-pin-id="781656079084704351" alt="grid of phone wallpapers">
        </div>
        <div class="text">
          <h2>Vortex</h2>
          <p>Mobile Wallpapers</p>
          <p>4 Variants</p>
          <a class="button" href="/files/Vortex.zip">Download</a>
        </div>
      </div>
      <div class="new" id="wisps">
        <div class="pics">
          <img src="/imgs/wallpapers/wisps.png" data-pin-id="781656079084704344" alt="phone wallpapers">
        </div>
        <div class="text">
          <h2>Wisps</h2>
          <p>Mobile Wallpapers</p>
          <p>Light and Dark Variants</p>
          <a class="button" href="/files/Wisp.zip">Download</a>
        </div>
      </div>
      <div class="new" id="digital-waves">
        <div class="pics">
          <img src="/imgs/wallpapers/digital-waves.png" data-pin-id="781656079084704342" alt="grid of phone wallpapers">
        </div>
        <div class="text">
          <h2>Digital Waves</h2>
          <p>Mobile Wallpapers</p>
          <p>4 Colors</p>
          <p>2 Variants</p>
          <a class="button" href="/files/Digital Waves.zip">Download</a>
        </div>
      </div>
      <div class="new" id="endless-loops">
        <div class="pics">
          <img src="/imgs/wallpapers/endless-loops.png" data-pin-id="781656079084704337" alt="grid of phone wallpapers">
        </div>
        <div class="text">
          <h2>Endless Loops</h2>
          <p>Mobile Wallpapers</p>
          <p>3 Colors</p>
          <p>4 Variants</p>
          <a class="button" href="/files/Endless Loops.zip">Download</a>
        </div>
      </div>