---
title: Wallpapers
description: Mobile Wallpapers - free download
layout: 'basic.njk'
id: wallpapers
---
<h1>Wallpapers</h1>
  <div class="split-card" id="Inverted">
    <img src="/images/wallpapers/inverted.png" data-pin-id="781656079084704495" alt="grid of phone wallpapers">
    <div class="text">
      <h3>Inverted</h3>
      <p>Mobile Wallpapers</p>
      <p>10 Colors</p>
      <p>2 Variants</p>
      <a class="button" href="/files/Inverted.zip">Download</a>
    </div>
  </div>
  <div class="split-card" id="dot">
    <img src="/images/wallpapers/dot.png" data-pin-id="781656079084704469" alt="phone wallpapers">
    <div class="text">
      <h3>Dot</h3>
      <p>Mobile Wallpapers</p>
      <p>2 Variants</p>
      <a class="button" href="/files/Dot.zip">Download</a>
    </div>
  </div>
  <div class="split-card" id="vortex">
    <img src="/images/wallpapers/vortex.png" data-pin-id="781656079084704351" alt="grid of phone wallpapers">
    <div class="text">
      <h3>Vortex</h3>
      <p>Mobile Wallpapers</p>
      <p>4 Variants</p>
      <a class="button" href="/files/Vortex.zip">Download</a>
    </div>
  </div>
  <div class="split-card" id="wisps">
    <img src="/images/wallpapers/wisps.png" data-pin-id="781656079084704344" alt="phone wallpapers">
    <div class="text">
      <h3>Wisps</h3>
      <p>Mobile Wallpapers</p>
      <p>Light and Dark Variants</p>
      <a class="button" href="/files/Wisp.zip">Download</a>
    </div>
  </div>
  <div class="split-card" id="digital-waves">
    <img src="/images/wallpapers/digital-waves.png" data-pin-id="781656079084704342" alt="grid of phone wallpapers">
    <div class="text">
      <h3>Digital Waves</h3>
      <p>Mobile Wallpapers</p>
      <p>4 Colors</p>
      <p>2 Variants</p>
      <a class="button" href="/files/Digital Waves.zip">Download</a>
    </div>
  </div>
  <div class="split-card" id="endless-loops">
    <img src="/images/wallpapers/endless-loops.png" data-pin-id="781656079084704337" alt="grid of phone wallpapers">
    <div class="text">
      <h3>Endless Loops</h3>
      <p>Mobile Wallpapers</p>
      <p>3 Colors</p>
      <p>4 Variants</p>
      <a class="button" href="/files/Endless Loops.zip">Download</a>
    </div>
  </div>