---
title: Wallpapers
description: Mobile Wallpapers - free downloads
layout: default
---
<div class="card full" id="endless-love" aria-label="Endless Love">
  {% image "./src/images/wallpapers/endless-love.png", "a grid of phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Endless Love</h2>
    <p>4 Colors</p>
    <a class="button" href="/files/Endless Love.zip">Download</a>
  </div>
</div>
<div class="card full" id="moo" aria-label="Moo">
  {% image "./src/images/wallpapers/moo.png", "phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Moo</h2>
    <p>3 Colors</p>
    <a class="button" href="/files/Moo.zip">Download</a>
  </div>
</div>
<div class="card full" id="inverted" aria-label="Inverted">
  {% image "./src/images/wallpapers/inverted.png", "grid of phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Inverted</h2>
    <p>10 Colors</p>
    <p>2 Variants</p>
    <a class="button" href="/files/Inverted.zip">Download</a>
  </div>
</div>
<div class="card full" id="dot" aria-label="Dot">
  {% image "./src/images/wallpapers/dot.png", "phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Dot</h2>
    <p>2 Variants</p>
    <a class="button" href="/files/Dot.zip">Download</a>
  </div>
</div>
<div class="card full" id="vortex" aria-label="Vortex">
  {% image "./src/images/wallpapers/vortex.png", "grid of phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Vortex</h2>
    <p>4 Variants</p>
    <a class="button" href="/files/Vortex.zip">Download</a>
  </div>
</div>
<div class="card full" id="hills" aria-label="Hills">
  {% image "./src/images/wallpapers/hills.png", "phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Hills</h2>
    <p>2 Sizes</p>
    <a class="button" href="/files/Hills.zip">Download</a>
  </div>
</div>
<div class="card full" id="wisps" aria-label="Wisps">
  {% image "./src/images/wallpapers/wisps.png", "phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Wisps</h2>
    <p>Light and Dark Variants</p>
    <a class="button" href="/files/Wisp.zip">Download</a>
  </div>
</div>
<div class="card full" id="digital-waves" aria-label="Digital Waves">
  {% image "./src/images/wallpapers/digital-waves.png", "grid of phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Digital Waves</h2>
    <p>4 Colors</p>
    <p>2 Variants</p>
    <a class="button" href="/files/Digital Waves.zip">Download</a>
  </div>
</div>
<div class="card full" id="endless-loops" aria-label="Endless Loops">
  {% image "./src/images/wallpapers/endless-loops.png", "grid of phone wallpapers", 150 %}
  <div class="text">
    <h2 class="h3">Endless Loops</h2>
    <p>3 Colors</p>
    <p>4 Variants</p>
    <a class="button" href="/files/Endless Loops.zip">Download</a>
  </div>
</div>